.navbar {
    margin: 0;

}

/*.navbar-nav > li{
  padding-right:20px;
}

.navbar a {
    color: blue;
}

.navbar-brand{
  padding-right: 40px;
}



.nav a{
    color: white ;
    font-size: 1.4em ;
}
*/


.nav a{
    font-size: 1.2em ;
}

.form-group.required .control-label:before{
   color: red;
   content: "*";
   position: absolute;
   margin-left: 2px;
}
