   <div id="modal-thanks" class="modal modal-fullscreen fade" tabindex="-1" role="dialog" aria-labelledby="modal-thanks" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header container">
                        <div class='close-button'>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                         <div class='row bg-success'>
                              <div class='col-md-10 col-centered'>
                                    <h5>Thanks! Your email is on its way. If you don't receive it in a few minutes, be sure to check your promotions or spam.</h5>
                              </div>
                          </div>
                      </div>

                      <div class="modal-body container">


                        <div class='bt-form__wrapper'>
                        <form id='social-form' class=" bt-flabels js-flabels contact-form" action="{% url 'create' %}" method="POST" data-parsley-validate data-parsley-errors-messages-disabled  action="" >
                            {% csrf_token %}

                          <div class='row'>
                                                 <div class='form-title'>
                                                            <h3>How did you hear about us?</h3>
                                                    </div>
                          </div>

                        <div class='row'>
                            <div class="bt-flabels__wrapper checkbox-wrapper col-md-12">
                                {% for choice in evaluation_form.referral %}
                                    {{ choice.tag }} {{ choice.choice_label }}
                                {% endfor %}
                            </div>
                        </div>

                          <div class='row'>
                                <div class='col-md-10 col-centered'>
                                    <button type="button" class="btn btn-default inquire-close-button" data-dismiss="modal">Close</button>
                                </div>
                          </div>
                       </form>
                      </div>

                      </div>
                    </div>
                  </div>
        </div>
