{% extends "pages/homepage_base.html" %}
{% load staticfiles %}
{% load static %}


{% block more-css %}
        {% load sass_tags %}
        <link rel="stylesheet" href="{% sass_src 'css/about.scss' %}">
        <!-- for dev only -->
         <link href="{% static 'staticfiles/css/about.css' %}" rel="stylesheet" type="text/css" />
{% endblock more-css %}



{% block modal %}


<nav class="cd-secondary-nav">
	<ul>
		 <li id='nav-home'><a class='active' href="#">Home</a></li>
        <li id='nav-insights'><a href='#insights'>Insights</a></li>
        <li id='nav-solutions'><a href="#solutions">Solutions</a></li>
        <li id='nav-benefits'><a href='#benefits'>Benefits</a></li>
        <li id='nav-why'><a href="#why">Why Us</a></li>
        <li id='nav-demo'><a href="#demo">Demo</a></li>
        <li id='nav-plans'><a href="#plans">Plans &amp; Pricing</a></li>
        <li id='nav-resources'><a href="#resource">Resources</a></li>
        <li id='nav-investors'><a href="#tab-investors">Investors</a></li>
	</ul>
</nav> <!-- .cd-secondary-nav -->


<!-- MAIN CONTENT -->
<div class="one-page cd-main-content sub-nav-hero">

    <div class='one-page-inner one-default section-highlights'>
        
        <div class='container'>
            <div class='row'>
            
                <div class='col-md-6'>
                    <h2> Main Content Goes Here</h2>
                </div>
                
            </div>
{% endblock modal %}




{% block more-javascript %}

{% endblock more-javascript %}
