 {% load staticfiles i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Synergy+ Software</title>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W9HHS6F');</script>
      <!-- End Google Tag Manager -->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}

        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico">

        <!-- Web Fonts -->
        <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,300,200,100,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- CSS Header and Footer -->
        <link rel="stylesheet" href="{% static 'css/headers/header-default.css' %}">
        <link rel="stylesheet" href="{% static 'css/headers/header-v8.css' %}">
        <link rel="stylesheet" href="{% static 'css/footers/footer-v1.css' %}">

        <!-- Page Classes For Easy Styling -->
        <link rel="stylesheet" href="{% static 'css/pages/page_one.css' %}">



        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="{% static 'plugins/animate.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/line-icons/line-icons.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/login-signup-modal-window/css/style.css' %}">

        <!-- CSS Theme -->
        <link rel="stylesheet" href="{% static 'css/theme-colors/default.css' %}" id="style_color">
        <link rel="stylesheet" href="{% static 'css/theme-skins/dark.css' %}">

        <!-- CSS Customization -->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">

        <!-- For datetimepicker bootstrap plugin -->

        <link rel="stylesheet" href="{% static 'bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" />

        <!-- bootstrap form-helper plugin -->
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap-formhelpers/dist/css/bootstrap-formhelpers.min.css' %}" />


        <!-- navbar plugin css -->
        <link rel="stylesheet" href="{% static 'standalone/auto-hiding-navigation/css/style.css' %}">



        <!-- for local dev only -->
         <link href="{% static 'css/project.css' %}" rel="stylesheet" type="text/css" />
         <link href="{% static 'css/parsley-floating.css' %}" rel="stylesheet" type="text/css" />  <!-- Form parsley floating css -->


    {% endblock css %}

    {% block more-css %}{% endblock more-css %}


    </head>

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<body class="">

        <!-- Google Tag Manager (noscript) -->
        <!-- Should be placed right after body tag -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9HHS6F"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

	<div class="wrapper">
		<!--=== Header v8 ===-->


        {% block navbar %}
	       <!-- TOP NAVBAR -->
<div class='cd-navbar-wrapper'>
<header class="cd-auto-hide-header">
	<div class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/logo1.png' %}" alt="Logo"></a></div>


   <div id='cd-nav-text'><!--<h5>Doctors &amp; Staff Save So Much Time, Patient Care Is Optimized <br>Net Income Rises As Non-clinical Issues Become Non-Issues <br>Doctors Practice Medicine Their Way, Patients Get Healthier</h5>-->
   <h5>
   This preliminary site is for investors &amp; funding<br>
   The content is subject to change for sales
   </div>

	<nav class="cd-primary-nav">

		<a href="#cd-navigation" class="nav-trigger">
			<span>
				<em aria-hidden="true"></em>
				Menu
			</span>
		</a> <!-- .nav-trigger -->



		<ul id="cd-navigation">
			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'invest' %}">Investors</a></li>

			<li><a href="#" data-toggle="modal" data-target="#modal-contact">Contact Us</a></li>
            <li id='nav-call'><a  href="#" onClick="return false;" data-toggle="popover" data-placement="left" data-trigger="hover"  data-html='true'
                                                                         data-content= "<h5>Receive a practice evaluation with financials, personnel costs, and liability analysis all for free!</h5>">1-800-xxx-xxxx<span class='tiny'>FREE EVALUATION</span><span class='show-mobile'>&nbsp;&nbsp;FREE EVALUATION </span></a></li>
		</ul>
	</nav> <!-- .cd-primary-nav -->
</header> <!-- .cd-auto-hide-header -->
</div>
<!-- ENDTOP NAVBAR -->
        {% endblock navbar %}

        <div class='sidebar'>

            <ul>
                <li id='sidebar-phone' ><a href='##' onClick="return false;"><i class="fa fa-phone fa-2x " aria-hidden="true" ></i><h5><span class='sidebar-content'>812-360-9245</span></h5></a></li>
                <li id='sidebar-contact'>  <a href='' data-toggle="modal" data-target="#modal-contact"><i class="fa fa-envelope-o fa-2x " aria-hidden="true" ></i><h5><span class='sidebar-content'>Contact</span></h5></a></li>
                <li id='sidebar-live-chat' ><a href='##' onClick="return false;"> <i class="fa fa-comments-o fa-2x " aria-hidden="true" ></i><h5><span class='sidebar-content'>Chat (soon)</span></h5></a></li>
            </ul>
        </div>

        <div id="modal-contact" class="modal modal-fullscreen fade" tabindex="-1" role="dialog" aria-labelledby="modal-contact" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header container">
                        <div class='close-button'>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>

                      </div>

                      <div class="modal-body container">

                                    <div class='tab-pane-content tab-content'>
                                        <div id='contact-tab-0' class='tab-pane in active'>


                                            <div class='contact-title'>

                                              <h3 class='m-contact-title'>Have Questions? Are You Interested in a Demo?</h3>

                                              <h5 class="modal-title" id="gridModalLabel">Contact now and receive your <strong><em>Free Full Practice Evaluation!</em></strong><br> Your personal Synergy+ customer specialist will reply within 48 hours.</h5>

                                             </div>
                                            <hr>

                                            <div class='bt-form__wrapper'>
                                                <form id='contact-form-0' class="bt-flabels js-flabels contact-form" action="{% url 'create' %}" method="POST"  data-parsley-validate data-parsley-errors-messages-disabled  >

                                                     {% csrf_token %}
                                                    <input type="hidden" name="form_id" value="contact-form-0">

                                                          <div class='row form-group'>
                                                              <div class="col-md-6 bt-flabels__wrapper required">
                                                                  <div class='control-label'></div>
                                                                  {{ person_form.first_name.label_tag  }}
                                                                    {{ person_form.first_name }}
                                                                      <span class="bt-flabels__error-desc">Required</span>
                                                              </div>

                                                              <div class="col-md-6 required bt-flabels__wrapper">
                                                                  <div class='control-label'></div>
                                                                    {{ person_form.last_name.label_tag  }}
                                                                    {{ person_form.last_name }}
                                                                    <span class="bt-flabels__error-desc">Required</span>

                                                                  </div>
                                                           </div>


                                                          <div class='row form-group'>
                                                            <div class="bt-flabels__wrapper required col-md-12">
                                                                <div class='control-label'></div>
                                                               <label for="{{ person_form.position.id_for_label }}">
                                                                   Title or Position</label>
                                                                    {{ person_form.position }}
                                                                <span class="bt-flabels__error-desc">Required</span>
                                                              </div>
                                                          </div>


                                                          <div class='row form-group'>
                                   <div class="bt-flabels__wrapper col-md-6">
                                                                      {{ person_form.email.label_tag  }}
                                                                          {{ person_form.email }}
                                                                     <span class="bt-flabels__error-desc">Required/Invalid Phone</span>
                                                                    </div>

                                                                  <div class="bt-flabels__wrapper col-md-6">
                                                                      {{ person_form.home_phone.label_tag  }}
                                                                          {{ person_form.home_phone }}
                                                                     <span class="bt-flabels__error-desc">Required/Invalid Phone</span>
                                                                    </div>
                                                          </div>

                                                          <div class='row form-group'>

                                                              <div class='bt-flabels__wrapper required col-md-9'>
                                                                      <div class='control-label'></div>
                                                                     {{ evaluation_form.group_name.label_tag  }}
                                                                     {{ evaluation_form.group_name }}
                                                                    <span class="bt-flabels__error-desc">Required</span>
                                                              </div>

                                                              <div class='col-md-3'>
                                                                  <div >
                                                                      {{ evaluation_form.group_type.label_tag  }}
                                                                     {{ evaluation_form.group_type }}
                                                                  </div>
                                                              </div>

                                                          </div>


                                                        <div class='row form-group'>


                                                              <div class="bt-flabels__wrapper required col-md-9">

                                                                        <div class='control-label'></div>
                                                                     {{ person_form.office_phone.label_tag  }}
                                                                     {{ person_form.office_phone }}
                                                                      <span class="bt-flabels__error-desc">Required/Invalid Phone</span>
                                                              </div>


                                                              <div class="bt-flabels__wrapper col-md-3">
                                                                     {{ evaluation.office_phone_extension.label_tag  }}
                                                                     {{ person_form.office_phone_extension }}
                                                                       </div>

                                                        </div>

                                                        <div class='row form-group'>
                                                                         <div class='col-md-12 bt-flabels__wrapper'>
                                                                             <label for="{{ evaluation_form.call_time.id_for_label }}">
                                                                   Best time to call</label>
                                                                     {{ evaluation_form.call_time }}
                                                                     <!--<label>Best time to call</label>
                                                                            <input type='text' class='datetimepicker3' name="call_time" placeholder="Best time to call" autocomplete="off"/>-->
                                                                     
                                                                        </div>
                                                        </div>

                                                    <div class='row form-group'>
                                                                          <div class="bt-flabels__wrapper text-area-wrapper col-md-12">
                                                                              <span class='text-area-title'> {{ evaluation_form.message.label }}</span>
                                                                              <div id='form-message'>
                                                                                  {{ evaluation_form.message.label_tag }}
                                                                                {{ evaluation_form.message }}
                                                                              </div>
                                                                            </div>
                                                            </div>


                                                    <div class='row'>
                                                        <div class='col-md-12'>
                                                            <button type="submit" class="btn button btn-large btn-default btn-primary contact-btn js-submit">Contact Us</button>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>

                                        </div>

                                       <div id='contact-tab-1' class='tab-pane in inquire-finish'>
                                            <div class='inquire-title'>

                                                            <h2>Thank you for contacting Synergy+!</h2>
                                                            <h3> A Synergy+ Representative will be in touch.</h3>


                                                            <h4>Please continue to receive your full practice evaluation and free industry analysis report.</h4>
                                                            <h4>To expedite the process, speak with a Synergy+ Representative by calling <strong>812-360-9245</strong>.</h4>


                                             </div>

                                           <div class='bt-form__wrapper'>
                                                <form id='contact-form-1' class=" bt-flabels js-flabels contact-form" action="{% url 'create' %}" method="POST" data-parsley-validate data-parsley-errors-messages-disabled  action="" >
                                                    <div class='row'>
                                                        <div class='col-md-10 col-centered'>
                                                            <button type="submit" class="btn btn-primary inquire-close-button" >Continue</button>
                                                        </div>
                                                    </div>
                                               </form>
                                           </div>
                                        </div>

                                        <div id='contact-tab-2' class='tab-pane in'>
                                            <div class='inquire-title'>
                                                    <!--<div class="useravatar">
                                                        <img alt="" src="{% static 'images/girl.jpeg' %}">
                                                    </div>-->

                                                    <div class="card-info">
                                                        <span class="card-title"><h3>Your full practice evaluation is waiting around the corner...</h3></span>
                                                    </div>

                                            </div>

                                            <hr>

                                            <div class='bt-form__wrapper'>
                                                <form id='contact-form-2' class=" bt-flabels js-flabels contact-form" action="{% url 'create' %}" method="POST" data-parsley-validate data-parsley-errors-messages-disabled  action="" >

                                                    <input type="hidden" name="form_id" value="contact-form-0">


                                                    <div class='form-title'>
                                                            <h5>EHR Information</h5>
                                                        </div>


                                                           <div class='row form-group'>
                                                              <div class="bt-flabels__wrapper col-md-12 required">
                                                                    {{ evaluation_form.current_system.label_tag  }}
                                                                     {{ evaluation_form.current_system }}

                                                              </div>
                                                           </div>



                                                          <div class='row form-group'>
                                                                  <div class="bt-flabels__wrapper col-md-6">
                                                                      
                                                                  {{ evaluation_form.ehr_support_vendors.label_tag  }}
                                                                     {{ evaluation_form.ehr_support_vendors }}
                                                                     <span class="bt-flabels__error-desc">Required</span>
                                                                    </div>

                                                                    <div class="bt-flabels__wrapper col-md-6">
                                                                       {{ evaluation_form.ehr_support_personnel.label_tag  }}
                                                                     {{ evaluation_form.ehr_support_personnel }}
                                                                     <span class="bt-flabels__error-desc">Required</span>
                                                                    </div>
                                                          </div>

                                                            <div class='row form-group'>
                                                                          <div class="bt-flabels__wrapper text-area-wrapper col-md-12">
                                                                          <span class='text-area-title'> {{ evaluation_form.ehr_likes.label }}</span>

                                                                                {{ evaluation_form.ehr_likes.label_tag  }}
                                                                               {{ evaluation_form.ehr_likes }}
                                                                            </div>
                                                            </div>

                                                            <div class='row form-group'>
                                                                          <div class="bt-flabels__wrapper text-area-wrapper col-md-12">
                                                                              <span class='text-area-title'>   {{ evaluation_form.ehr_dislikes.label  }} </span>
                                                                              {{ evaluation_form.ehr_dislikes.label_tag  }}
                                                                     {{ evaluation_form.ehr_dislikes }}
                                                                      </div>
                                                            </div>



                                                    <div class='row'>
                                                        <div class='col-md-12'>
                                                            <button type="button btn-large" class="btn btn-default prev-step btn-primary " href="#contact-tab-1" data-toggle="tab">Back</button>
                                                            <button type="submit" class="btn btn-default next-step btn-primary " >Continue</button>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>


                                        </div>


                                        <div id='contact-tab-3' class='tab-pane in'>
                                            <div class='inquire-title'>
                                                    <!--<div class="useravatar">
                                                        <img alt="" src="{% static 'images/girl.jpeg' %}">
                                                    </div>-->

                                                    <div class="card-info">
                                                        <span class="card-title"><h3>You've almost got it...</h3></span>
                                                    </div>

                                            </div>

                                            <hr>

                                            <div class='bt-form__wrapper'>
                                                <form id='contact-form-3' class=" bt-flabels js-flabels contact-form" action="{% url 'create' %}" method="POST" data-parsley-validate data-parsley-errors-messages-disabled  action="" >
                                                    <input type="hidden" name="form_id" value="contact-form-3">


                                                    <div class='form-title'>
                                                            <h5>Human Resource Evaluation</h5>
                                                        </div>

                                                          <div class='row'>
                                                                    <div class="bt-flabels__wrapper required col-md-4">
                                                                         <div class='control-label'></div>
                                                                          {{ evaluation_form.hr_providers.label_tag  }}
                                                                     {{ evaluation_form.hr_providers }}
                                                                      <span class="bt-flabels__error-desc">Required</span>
                                                                    </div>



                                                                    <div class="bt-flabels__wrapper required col-md-4">
                                                                         <div class='control-label'></div>
                                                                           {{ evaluation_form.hr_it_staff.label_tag  }}
                                                                     {{ evaluation_form.hr_it_staff }}
                                                                     <span class="bt-flabels__error-desc">Required</span>
                                                                    </div>


                                                                    <div class="bt-flabels__wrapper required col-md-4">
                                                                         <div class='control-label'></div>
                                                                          {{ evaluation_form.hr_other_staff.label_tag  }}
                                                                     {{ evaluation_form.hr_other_staff }}
                                                                      <span class="bt-flabels__error-desc">Required</span>
                                                                    </div>

                                                          </div>


                                                    <div class='form-title'>
                                                            <h5>EHR Users</h5>
                                                    </div>

                                                    <div class='row'>
                                                                    <div class="bt-flabels__wrapper required col-md-3">
                                                                         <div class='control-label'></div>
                                                                           {{ evaluation_form.ehr_providers.label_tag  }}
                                                                     {{ evaluation_form.ehr_providers }}
                                                                     <span class="bt-flabels__error-desc">Required</span>
                                                                    </div>

                                                                    <div class="bt-flabels__wrapper required col-md-3">
                                                                         <div class='control-label'></div>
                                                                           {{ evaluation_form.ehr_mas.label_tag  }}
                                                                     {{ evaluation_form.ehr_mas }}
                                                                     <span class="bt-flabels__error-desc">Required</span>
                                                                    </div>

                                                                    <div class="bt-flabels__wrapper required col-md-3">
                                                                         <div class='control-label'></div>
                                                                          {{ evaluation_form.ehr_receptionists.label_tag  }}
                                                                     {{ evaluation_form.ehr_receptionists }}
                                                                     <span class="bt-flabels__error-desc">Required</span>
                                                                    </div>

                                                                    <div class="bt-flabels__wrapper required col-md-3">
                                                                         <div class='control-label'></div>
                                                                          {{ evaluation_form.ehr_admin.label_tag  }}
                                                                     {{ evaluation_form.ehr_admin }}
                                                                      <span class="bt-flabels__error-desc">Required</span>
                                                                    </div>

                                                          </div>

                                                     <div class='form-title'>
                                                            <h5>RCM Details</h5>
                                                    </div>

                                                    <div class='row form-group'>
                                                                    <div class="bt-flabels__wrapper required col-md-3">
                                                                         <div class='control-label'></div>
                                                                           {{ evaluation_form.rcm_billers.label_tag  }}
                                                                     {{ evaluation_form.rcm_billers }}
                                                                     <span class="bt-flabels__error-desc">Required</span>
                                                                    </div>

                                                                    <div class="bt-flabels__wrapper required col-md-3">
                                                                         <div class='control-label'></div>
                                                                           {{ evaluation_form.rcm_coders.label_tag  }}
                                                                     {{ evaluation_form.rcm_coders }}
                                                                     <span class="bt-flabels__error-desc">Required</span>
                                                                    </div>

                                                                    <div class="bt-flabels__wrapper required col-md-3">
                                                                         <div class='control-label'></div>
                                                                           {{ evaluation_form.rcm_scribes.label_tag  }}
                                                                     {{ evaluation_form.rcm_scribes }}
                                                                     <span class="bt-flabels__error-desc">Required</span>
                                                                    </div>

                                                                    <div class="bt-flabels__wrapper required col-md-3">
                                                                         <div class='control-label'></div>
                                                                           {{ evaluation_form.rcm_collectors.label_tag  }}
                                                                     {{ evaluation_form.rcm_collectors }}
                                                                      <span class="bt-flabels__error-desc">Required</span>
                                                                    </div>

                                                          </div>

                                                        <div class='row form-group'>
                                                            <div class="bt-flabels__wrapper required col-md-12">
                                                                  <div class='control-label'></div>
                                                                 {{ evaluation_form.clearinghouse.label_tag  }}
                                                                     {{ evaluation_form.clearinghouse }}
                                                                     <span class="bt-flabels__error-desc">Required</span>
                                                              </div>
                                                          </div>

                                                        <div class='row form-group'>
                                                            <div class="bt-flabels__wrapper required col-md-12">
                                                                  <div class='control-label'></div>
                                                                {{ evaluation_form.billing_company.label_tag  }}
                                                                     {{ evaluation_form.billing_company }}
                                                                      <span class="bt-flabels__error-desc">Required</span>
                                                              </div>
                                                          </div>

                                                    <div class='row form-statement form-group '>
                                                        <div class='col-md-12'>
                                                            <div class='inline'>It usually takes me</div>
                                                            <span class='inline bt-flabels__wrapper required'>
                                                                <div class='inline control-label'></div>
                                                                     {{ evaluation_form.days_to_collect }}
                                                            </span>
                                                            <div class='inline'>days to collect</div>
                                                             <span class='inline bt-flabels__wrapper required'>
                                                            <div class='inline control-label'></div>
                                                                     {{ evaluation_form.percent_ars }}
                                                             </span>
                                                            % of ARs.
                                                        </div>

                                                    </div>

                                                    <div class='row'>
                                                        <div class='col-md-12'>
                                                            <button type="button btn-large" class="btn btn-default prev-step btn-primary " href="#contact-tab-2" data-toggle="tab">Back</button>
                                                            <button type="submit" class="btn btn-default next-step btn-primary" >Last Page</button>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>


                                        </div>

                                        <div id='contact-tab-4' class='tab-pane in'>
                                            <div class='inquire-title'>
                                                    <!--<div class="useravatar">
                                                        <img alt="" src="{% static 'images/girl.jpeg' %}">
                                                    </div>-->

                                                    <div class="card-info">
                                                        <span class="card-title"><h3>Last Page! Get Your Full Practice Evaluation!</h3></span>
                                                    </div>

                                            </div>

                                            <hr>

                                            <div class='bt-form__wrapper'>
                                                <form id='contact-form-4' class=" bt-flabels js-flabels contact-form" action="{% url 'create' %}" method="POST" data-parsley-validate data-parsley-errors-messages-disabled  action="" >
                                                     <input type="hidden" name="form_id" value="contact-form-4">


                                                    <div class='form-title'>
                                                            <h5>Financial Evaluation</h5>
                                                    </div>


                                                      <div class='row form-group'>
                                                                <div class="bt-flabels__wrapper required col-md-7">
                                                                     <div class='control-label'></div>
                                                                       {{ evaluation_form.available_rooms.label_tag  }}
                                                                     {{ evaluation_form.available_rooms }}
                                                                      <span class="bt-flabels__error-desc">Required</span>
                                                                </div>
                                                                <div class="bt-flabels__wrapper required col-md-5">
                                                                     <div class='control-label'></div>

                                                                       {{ evaluation_form.revenue_labs.label_tag  }}
                                                                     {{ evaluation_form.revenue_labs }}
                                                                     <span class="bt-flabels__error-desc">Required</span>
                                                                </div>

                                                      </div>



                                                    <div class='row'>
                                                          <div class="bt-flabels__wrapper text-area-wrapper form-group col-md-12">
                                                                          <span class='text-area-title'> {{ evaluation_form.doctors_recruit.label }}</span>
                                                                     {{ evaluation_form.doctors_recruit }}
                                                            </div>
                                                    </div>

                                                    <div class='row form-group'>
                                                                <div class="bt-flabels__wrapper required col-md-12">
                                                                     <div class='control-label'></div>
                                                                      {{ evaluation_form.total_revenue.label_tag  }}
                                                                     {{ evaluation_form.total_revenue }}
                                                                     <span class="bt-flabels__error-desc">Required</span>
                                                                </div>

                                                      </div>

                                                     <div class='row form-statement required'>
                                                        <div class='col-md-12'>
                                                            <div class='inline'>My group's net income has &nbsp;</div>
                                                            <div class='inline control-label'></div>

                                                          {{ evaluation_form.net_income_status.label_tag  }}
                                                            {{ evaluation_form.net_income_status }}
                                                                     <div class='inline'>over the last 3 years.</div>
                                                        </div>
                                                    </div>

                                                     <div class='form-title'>
                                                            <h5>How did you hear about us?</h5>
                                                    </div>

                                                    <div class='row'>
                                                        <div class="bt-flabels__wrapper checkbox-wrapper col-md-12">
                                                            {% for choice in evaluation_form.referral %}
                                                                {{ choice.tag }} {{ choice.choice_label }}
                                                            {% endfor %}
                                                        </div>
                                                    </div>

                                                    <div class='form-title'>
                                                            <h5>Email Me the Monthly Newsletter</h5>
                                                    </div>

                                                    <div class='row form-group'>
                                                        <div class="bt-flabels__wrapper checkbox-wrapper col-md-12">
                                                          {{ evaluation_form.monthly_newsletter }} Yes
                                                        </div>
                                                    </div>

                                                    <div class='row' id='form-bottom'>
                                                        <div class='col-md-12'>
                                                            <button type="button btn-large" class="btn btn-default prev-step btn-primary " href="#contact-tab-3" data-toggle="tab">Back</button>
                                                            <button type="submit" class="btn btn-default next-step btn-primary" >Finish</button>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>

                                        <div id='contact-tab-5' class='tab-pane in  inquire-finish'>
                                            <div class='inquire-title'>

                                                            <h2>Thank you for contacting Synergy+!</h2>
                                                            <h3> A Synergy+ Representative will be in touch.</h3>
                                                            <h3> Your full practice evaluation will be sent to the provided email within 48 hours.</h3>
                                                            <h3>To expedite the process, speak with a Synergy+ Representative by calling <strong>812-360-9245</strong>.</h3>
                                             </div>

                                            <div class='row'>
                                                <div class='col-md-10 col-centered'>
                                                    <button type="button" class="btn btn-default inquire-close-button" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                        </div>


                                </div>


                      </div>
                    </div>
                  </div>
                </div>


		<!--=== End Header ===-->
    <div class='content-main'>
    {% block modal %}
    {% endblock modal %}
    </div>
    {% block footer %}
		<!--=== Footer Version 1 ===-->
		<div class="footer-v1">


			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p class='absolute'>
								2015 &copy; All Rights Reserved.
								<!--<a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>-->
							</p>
						</div>

						<!-- Social Links -->
						<div class="col-md-6">
							<ul class="footer-socials list-inline">
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
										<i class="fa fa-skype"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
										<i class="fa fa-google-plus"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
										<i class="fa fa-pinterest"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
										<i class="fa fa-dribbble"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- End Social Links -->
					</div>
				</div>
			</div><!--/copyright-->
		</div>
		<!--=== End Footer Version 1 ===-->
    {% endblock footer %}
	</div><!--/wrapper-->



	<!-- JS Global Compulsory -->

    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-migrate-1.4.1.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- MODERNIZR -->
    <script type="text/javascript" src="{% static 'standalone/pointy-slider/js/modernizr.js' %}"></script>

	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="{% static 'plugins/back-to-top.js' %}"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

	<!--[if lt IE 9]>
	<script src="{% static 'plugins/respond.js' %}"></script>
	<script src="{% static 'plugins/html5shiv.js' %}"></script>
	<script src="{% static 'plugins/placeholder-IE-fixes.js' %}"></script>
	<![endif]-->

    <!-- WAYPOINTS PLUGIN -->
    <script src="{% static 'css/plugins/waypoints4.0/lib/jquery.waypoints.min.js' %}"></script>

    <!-- DATA parsley plugin -->
    <script type="text/javascript" src="{% static 'bower_components/parsleyjs/dist/parsley.min.js' %}"></script>

    <!-- Auto Hiding Navigation -->
    <script type="text/javascript" src="{% static 'standalone/auto-hiding-navigation/js/main.js' %}"></script>




    <script>
    // .modal-backdrop classes. Rely on the css classes to change modal styles.

    $(".modal-transparent").on('show.bs.modal', function () {
      setTimeout( function() {
        $(".modal-backdrop").addClass("modal-backdrop-transparent");
      }, 0);
    });
    $(".modal-transparent").on('hidden.bs.modal', function () {
      $(".modal-backdrop").addClass("modal-backdrop-transparent");
    });

    $(".modal-fullscreen").on('show.bs.modal', function () {
      setTimeout( function() {
        $(".modal-backdrop").addClass("modal-backdrop-fullscreen");
      }, 0);
    });
    $(".modal-fullscreen").on('hidden.bs.modal', function () {
      $(".modal-backdrop").addClass("modal-backdrop-fullscreen");
    });
    </script>
    <!-- CENTER MODAL -->
    <script>

    /**
 * Vertically center(ish) Bootstrap 3 modals so they aren't always stuck at the top
 */
$(function() {
    function reposition() {
            var modal = $(this),
                dialog = modal.find('.modal-dialog');
            modal.css('display', 'block');

            // Dividing by two centers the modal exactly, but dividing by three
            // or four works better for larger screens.
            dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2.7));
        }
        // Reposition when a modal is shown
        $('.modal').on('show.bs.modal', reposition);
        // Reposition when the window is resized
        $(window).on('resize', function() {
            $('.modal:visible').each(reposition);
        });
    });
    </script>

    <!-- Tooltip -->
<script>
    $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

<script>
/* Ensure that form 1 is valid before moving to the next form  */
function validate_form_tab(form_id, tab_id_curr, tab_id_next){
    $(form_id).submit(function(e){
            e.preventDefault();
            var form = $(form_id);
            form.parsley().validate();

            if (form.parsley().isValid()){
                $(tab_id_curr).removeClass('active');
                $(tab_id_next).addClass('active');
            };
        })
}

//CONTACT FORM JQUERY SUBMIT BUTTON LISTENERS

validate_form_tab('#contact-form-0', '#contact-tab-0', '#contact-tab-1');
validate_form_tab('#contact-form-1', '#contact-tab-1', '#contact-tab-2');
validate_form_tab('#contact-form-2', '#contact-tab-2', '#contact-tab-3');
validate_form_tab('#contact-form-3', '#contact-tab-3', '#contact-tab-4');
validate_form_tab('#contact-form-4', '#contact-tab-4', '#contact-tab-5');
</script>


<!-- DATA PARSLEY FLOATING LABELS -->
<script>
function floating_label(form_id) {
    (function ($) {
        'use strict';
        var floatingLabel;
        floatingLabel = function (onload) {
            var $input;
            $input = $(this);


            if (onload) {
                $.each($('.bt-flabels__wrapper input'), function (index, value) {
                    var $current_input;
                    $current_input = $(value);
                    if ($current_input.val()) {
                        $current_input.closest('.bt-flabels__wrapper').addClass('bt-flabel__float');
                    }
                });
            }
            setTimeout(function () {
                if ($input.val()) {
                    $input.closest('.bt-flabels__wrapper').addClass('bt-flabel__float');
                    $input.closest('.required').removeClass('required'); //Remove the red required dot

                } else {
                    $input.closest('.bt-flabels__wrapper').removeClass('bt-flabel__float');
                    $input.closest('div').addClass('required'); //Replace the red required dot
                }
            }, 1);
        };
        $(form_id.concat(' .bt-flabels__wrapper input')).keydown(floatingLabel);
        $(form_id.concat(' .bt-flabels__wrapper input')).change(floatingLabel);
        window.addEventListener('load', floatingLabel(true), false);
        $(form_id.concat('.js-flabels')).parsley().on('form:error', function () {
            $.each(this.fields, function (key, field) {
                if (field.validationResult !== true) {
                    field.$element.closest(form_id.concat(' .bt-flabels__wrapper')).addClass('bt-flabels__error');
                }
            });
        });
        $(form_id.concat('.js-flabels')).parsley().on('field:validated', function () {
            if (this.validationResult === true) {
                this.$element.closest(form_id.concat(' .bt-flabels__wrapper')).removeClass('bt-flabels__error');
            } else {
                this.$element.closest(form_id.concat(' .bt-flabels__wrapper')).addClass('bt-flabels__error');
            }
        });
    }(jQuery));
};

//Floating labels for the contact forms
floating_label('#contact-form-0');
floating_label('#contact-form-1');
floating_label('#contact-form-2');
floating_label('#contact-form-3');
floating_label('#contact-form-4');
</script>

<!-- PUT DASHES IN PHONE INPUTS FOR CONTACT FORM-->
<script>
$('.phone-autodash').keyup(function(){
    $(this).val($(this).val().replace(/(\d{3})\-?(\d{3})\-?(\d{4})/,'$1-$2-$3'))
});

</script>

<!-- ADD WAYPOINTS TO NAVBAR ON SCROLL -->
<script>
//Remove active class from all other nav_ids
function remove_nav_active(nav_id_to_keep){

    $('.cd-secondary-nav a').removeClass('active');
    $(nav_id_to_keep).children('a').addClass('active');
};

function add_nav_waypoint(waypoint_id, nav_id){ //string with hash
    var waypoint = new Waypoint({
      element: $(waypoint_id),
      handler: function(){
          $(nav_id).children('a').addClass('active');
          remove_nav_active(nav_id);
      },
      offset: 70 // one pixel before the scroll on click in the navbar, so that it changes correctly
    });
};
</script>


<!-- SMOOTH SCROLL -->
<script>
function smoothScroll(tag, offset){
    if(typeof offset === "undefined") {
        var offset_up = 70; // fixed navbar height blocks the view, move up certain amount of pixels to offset it.
    }

    $(tag).bind('click', function(e) {
            e.preventDefault();
            var hashTag = this.hash;
            var top = 0;
            if ($(hashTag).offset()) {
                top  = $(hashTag).offset().top
            }
            $('html, body').animate({scrollTop:top - offset_up}, 'slow');
        });
}

smoothScroll('.cd-secondary-nav li a');
</script>


<script>
/* Takes a form id and returns the form fields in json */
function serialize_form(form){
    var url = $(form).attr("action");
    var formData = $(form).serializeArray();
    console.log(formData);
    return formData;
}

//send contact form via post
function post_form(form) {
    var frm = $(form);
    $.ajax({
        type: frm.attr('method'),
        url: frm.attr('action'),
        data: frm.serialize(),

        // handle a successful response
        success : function(data) {
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};

function submit_form(form){
    $(form).on('submit', function(e){
        e.preventDefault()
        post_form(form);
    });
}

submit_form('#contact-form-0');
submit_form('#contact-form-1');
submit_form('#contact-form-2');
submit_form('#contact-form-3');
submit_form('#contact-form-4');



//CRSF FIX
    $(function() {
    // This function gets cookie with a given name
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    /*
    The functions below will create a header with csrftoken
    */

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

});
</script>

    {% block more-javascript %}{% endblock more-javascript %}




</body>

</html>
