{% extends "pages/homepage_base.html" %}
{% load staticfiles %}
{% load static %}

{% block more-css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}"><!-- for the purchase now boxes -->
{% endblock more-css %}
{% block modal %}

    {% block sidebar %}
    {% endblock sidebar %}

 
<table class='table-fill'>
<thead class=''>

</thead>
<tbody>
<tr class=''>
      <th>SERVICE FEATURES</th>
      <th>DISTINCT ADVANTAGES</th>
      <th><strong>Synergy+</strong></th>
      <th>Kareo</th>
      <th>Epic</th>
      <th>Allscripts</th>
      <th>Pr. Fusion</th>
      <th>NextGen</th>
      <th>Cerner</th>
      <th>Athena</th>
      <th>Greenway</th>
   </tr>
<div class=''>
   <tr>
      <td>All-inclusive services even solo DRs benefit!</td>
      <td>Bundled Services save clients 25-40%</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
   </tr>
   <tr>
      <td>Net Income Optimization</td>
      <td>Net Income Gains from25-100%+</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>

   </tr>
   <tr>
      <td>Saves doctors, staff & patients 25-40% of time</td>
      <td>Doctor Sees > 25-40% more patients</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
   </tr>
   <tr>
      <td>Drs. & Staff go home minutes after the last patient</td>
      <td>System saves 1.5 - 2 hours of documenting</td>
      <td class='checkmark'>✔</td>
      <td>?</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td>PARTIAL</td>
      <td class='xmark'>X</td>
      <td>PARTIAL</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>Resource Re allocation: staff & office space</td>
      <td>Retain valuable staff and optimize space</td>
      <td class='checkmark'>✔</td>
      <td>PARTIAL</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td>PARTIAL</td>
      <td class='xmark'>X</td>
      <td>PARTIAL</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>NO Million $ law suits, FTC or Consumer Complaints</td>
      <td>100% clean and we will always be!</td>
      <td class='checkmark'>✔</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>HR: Retention Plan & Physician Recruiting</td>
      <td>Lowers Turnover & Increases Revenue 10-20%</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>Exponential Growth Plan: gain market share</td>
      <td>Client Revenue Growth is ongoing</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td> CLOUD-BASED EHR/RCM & PRACTICE MANAGEMENT</td>
      <td>DISTINCT ADVANTAGES</td>
      <td><strong>Synergy+</strong></td>
      <td>Kareo</td>
      <td>Epic</td>
      <td>Allscripts</td>
      <td>Pr. Fusion</td>
      <td>NextGen</td>
      <td>Cerner</td>
      <td>Athena</td>
      <td>Greenway</td>
      
   </tr>
   <tr>
      <td>Built-in Modular + interoperability Communications</td>
      <td>Easy Integration to outside systems</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td>COSTLY</td>
      <td class='xmark'>X</td>
      <td>PARTIAL</td>
      <td>PARTIAL</td>
      <td>COSTLY</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>EHR+Built-in RCM full services; % of collections</td>
      <td>Avg. Client saves $18k per provider per year</td>
      <td>3.40%</td>
      <td>4-9%</td>
      <td>4-9%</td>
      <td>4-9%</td>
      <td>4-11%</td>
      <td>4-9%</td>
      <td>4-9%</td>
      <td>4-7%</td>
      <td>4-9%</td>
      
   </tr>
   <tr>
      <td>Cost-effective for solo to MS Groups</td>
      <td>One size fits all</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>Speed & Efficiency reduces appointment times</td>
      <td>7-10 minutes less per patient</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>Auto Codes, bills and collects by dictation & programming</td>
      <td>Optimizes highest level billing</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>System cuts overall overhead up to 35%</td>
      <td>RCM & Admin expenses cut 20-35%</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td>X </td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>Modular +integration, interfaces & interoperability</td>
      <td>Connect equip, services & data sources</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>Viability and Managerial Stability</td>
      <td>Profitability ensures client's long term survival</td>
      <td class='checkmark'>✔</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='checkmark'>✔</td>
      
   </tr>
   <tr>
      <td>Seamless adapts to RCM mandates (ICD-10, VBC, etc.)</td>
      <td>Timely transition with no headaches</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>Built-in auto RCM & Validations, plus auto RX, DX & F/U ordering</td>
      <td>Enables overall overhead reduction of 25-35%</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>Implemented in a day & Train each employee in < than an hour!</td>
      <td>Our system is that user friendly</td>
      <td class='checkmark'>✔</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>Labs, Imaging, Charts, work flow, e- prescribe </td>
      <td>All but E-Proscribe is included</td>
      <td class='checkmark'>✔</td>
      <td>PARTIAL</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>We Purchase Accounts Receivables the day of service </td>
      <td> We optimize Clients Cash-flow</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>DATA ANALYSIS, SECURITY  & REGULATIONS</td>
      <td>DISTINCT ADVANTAGES</td>
      <td><strong>Synergy+</strong></td>
      <td>Kareo</td>
      <td>Epic</td>
      <td>Allscripts</td>
      <td>Practice </td>
      <td>NextGen</td>
      <td>Cerner</td>
      <td>Athena</td>
      <td>Greenway</td>
      
   </tr>
   <tr>
      <td>Supports Data Security & Analysis</td>
      <td>Reduces risk management headaches</td>
      <td class='checkmark'>✔</td>
      <td class='checkmark'>✔</td>
      <td class='checkmark'>✔</td>
      <td class='checkmark'>✔</td>
      <td class='checkmark'>✔</td>
      <td class='checkmark'>✔</td>
      <td class='checkmark'>✔</td>
      <td class='checkmark'>✔</td>
      <td class='checkmark'>✔</td>
      
   </tr>
   <tr>
      <td>A Decade in the Cloud--Exceeds EHNAC HIPPA Security Standards</td>
      <td>Risk analysis and mgmt. plan approved by HHS</td>
      <td class='checkmark'>✔</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>Strong Certified HIPAA Consultant Network</td>
      <td>Our Ultra-Secure Network Protects YOU</td>
      <td class='checkmark'>✔</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      
   </tr>
   <tr>
      <td>Exemplary Reputation for System Stability</td>
      <td>Minimizes slow-downs and down time</td>
      <td class='checkmark'>✔</td>
      <td class='checkmark'>✔</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td class='xmark'>X</td>
      <td>?</td>
      <td>?</td>
      
   </tr>
   <tr>
      <td>Avail 6/2017 - Integrated Analysis: affordable, efficient & accurate</td>
      <td>Focused on Optimizing PHM</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>PATIENT ENGAGEMENT - RELATIONSHIP BUILDING</td>
      <td>DISTINCT ADVANTAGES</td>
      <td><strong>Synergy+</strong></td>
      <td>Kareo</td>
      <td>Epic</td>
      <td>Allscripts</td>
      <td>Practice </td>
      <td>NextGen</td>
      <td>Cerner</td>
      <td>Athena</td>
      <td>Greenway</td>
      
   </tr>
   <tr>
      <td>Superior Tools and Strategies</td>
      <td>Adds value to Website and Portal</td>
      <td class='checkmark'>✔</td>
      <td>PARTIAL</td>
      <td>PARTIAL</td>
      <td>PARTIAL</td>
      <td>PARTIAL</td>
      <td>PARTIAL</td>
      <td>PARTIAL</td>
      <td>PARTIAL</td>
      <td>PARTIAL</td>
      
   </tr>
   <tr>
      <td>Patient compliance through solid relationships</td>
      <td>Healthier patients, refer more patients!</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='checkmark'>✔</td>
      <td class='checkmark'>✔</td>
      
   </tr>
   <tr>
      <td>Guardian plan-all patients covered</td>
      <td>Covers 23% non internet users</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td>?</td>
      <td>?</td>
      
   </tr>
   <tr>
      <td>Superior Patient Education Resources</td>
      <td>Free 'A Wellness Update' subscription</td>
      <td class='checkmark'>✔</td>
      <td>PARTIAL</td>
      <td>PARTIAL?</td>
      <td>PARTIAL?</td>
      <td>PARTIAL?</td>
      <td>PARTIAL?</td>
      <td>PARTIAL?</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>Built-in Patient Communications: phone, text, e-mail</td>
      <td>For  individual & public health initiatives</td>
      <td class='checkmark'>✔</td>
      <td class='checkmark'>✔</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      
   </tr>
   <tr>
      <td>Full offline engagement services</td>
      <td>No Patients 'Fall Through the Cracks'</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>Patient Portal, Expedited Apt. Finder, Mobile Apps.</td>
      <td>Superior engagement = Advanced healthcare</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='checkmark'>✔</td>
      <td class='checkmark'>✔</td>
      <td>PARTIAL</td>
      <td>PARTIAL</td>
      <td class='xmark'>X</td>
      <td>PARTIAL</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>Marketing consults</td>
      <td>Optimized patient volume</td>
      <td class='checkmark'>✔</td>
      <td class='checkmark'>✔</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td class='checkmark'>✔</td>
      <td>?</td>
      <td class='checkmark'>✔</td>
      <td>?</td>
      
   </tr>
   <tr>
      <td>Online 'Triage' service - starts June 2017</td>
      <td>Cost-effective care</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>Annual Wellness Visit & Chronic Care Management</td>
      <td>Healthier patients, healthier bottom line</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td>?</td>
      <td class='checkmark'>✔</td>
      <td>?</td>
      <td class='checkmark'>✔</td>
      <td>?</td>
      
   </tr>
   <tr>
      <td>Preventative & affordable Self Care </td>
      <td>Inspires Patients- Improves outcomes</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td> POPULATION HEALTH MGMT - Starts June 2017  </td>
      <td>   #1 investment: Tripling to $38B by 2020</td>
      <td><strong>Synergy+</strong></td>
      <td>Kareo</td>
      <td>Epic</td>
      <td>Allscripts</td>
      <td>Practice </td>
      <td>NextGen</td>
      <td>Cerner</td>
      <td>Athena</td>
      <td>Greenway</td>
      
   </tr>
   <tr>
      <td>Built-in affordable, scalable PHM services</td>
      <td>Highly efficiency and high value</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>Comprehensive Data of all Methods of Treatment</td>
      <td>Enables the options patients demand</td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      
   </tr>
   <tr>
      <td>In-house Clinical Experts: evaluate  all known methods </td>
      <td>Superior care reduces chronic disease </td>
      <td class='checkmark'>✔</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
      <td class='xmark'>X</td>
   </tr>
</div>
</tbody>
</table>



{% endblock modal %}