{% extends "pages/homepage_base.html" %}
{% load staticfiles %}
{% load static %}


{% block more-css %}
        <link rel="stylesheet" href="{% static 'standalone/pointy-slider/css/style.css' %}">

        {% load sass_tags %}
        <link rel="stylesheet" href="{% sass_src 'css/test.scss' %}">
        <!-- for dev only -->
         <link href="{% static 'staticfiles/css/test.css' %}" rel="stylesheet" type="text/css" />
{% endblock more-css %}



{% block modal %}
<div class='section-slideshow'>
    <div class="cd-slider-wrapper">
        <ul class="cd-slider">
            <li class="is-visible">
                <div class="cd-half-block image"></div>

                <div class="cd-half-block content content-white">
                    <div>
                        <h2>A workflow matching the natural healthcare process</h2>
                        <p class=''>
                            <span>From the moment</span> the patient gets sick to the time they leave the clinic, we've got you covered.  </p>
                        
                        <p class='hide-mobile'><span>A system designed</span> from the ground up by doctors, nurses, MA's, administration, and patients to optimize the healthcare process in every way possible. 
                        </p>
                        <p class='hide-mobile'>
                            <span>Follow</span>  the Synergy+ flow by using the tabs below.
                        </p>
                        <div class="btn btn-color" href="##" onClick="return false;"  data-toggle="modal" data-target="#modal-contact">Live Demo Now</div> 
                    </div>
                </div>
            </li> <!-- .cd-half-block.content -->

            <li>
                <div class="cd-half-block image"></div>

                <div class="cd-half-block content">
                    <div>
                        <h2>Engage from the Beginning</h2>
                        <p>
                            The patient gets sick and searches online. 
                        </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="cd-half-block image"></div>

                <div class="cd-half-block content">
                    <div>
                        <h2>Slide Number 3</h2>
                        <p>
                            <!-- content here -->
                        </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="cd-half-block image"></div>

                <div class="cd-half-block content">
                    <div>
                        <h2>Slide Number 4</h2>
                        <p>
                            <!-- content here -->
                        </p>
                    </div>
                </div>
            </li>

            <!-- addition list items here -->
        </ul> <!-- .cd-slider -->

        <!-- The ol.cd-slider-navigation element is created using jQuery and inserted here-->
    </div> <!-- .cd-slider-wrapper -->
</div>
{% endblock modal %}
        



{% block more-javascript %}
    	<script type="text/javascript" src="{% static 'standalone/pointy-slider/js/jquery.mobile.custom.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'standalone/pointy-slider/js/main.js' %}"></script>
	<script type="text/javascript" src="{% static 'standalone/pointy-slider/js/modernizr.js' %}"></script>
<script>
    var sliderPagination = createSliderPagination('.cd-slider-wrapper'); // sliderContainer = $('.cd-slider-wrapper')

    function createSliderPagination(container){
        var wrapper = $('<ol class="cd-slider-navigation"></ol>');
        $(container).children('.cd-slider').find('li').each(function(index){
            var dotWrapper = (index == 0) ? $('<li class="selected"></li>') : $('<li></li>'),
                dot = $('<a href="#0"></a>').appendTo(dotWrapper);
            dotWrapper.appendTo(wrapper);
            var dotText = ( index+1 < 10 ) ? '0'+ (index+1) : index+1;
            dot.text(dotText);
        });
        wrapper.appendTo(container);
        return wrapper.children('li');
    }
</script>
{% endblock more-javascript %}
