{% extends "base.html" %}
{% load staticfiles %}
{% load static %}


{% block more-head %}

{% endblock more-head %}

{% block more-css %}
{% get_static_prefix as STATIC_PREFIX %}
	<!-- CSS Page Style -->


{% endblock more-css %}

{% block modal %}
<br><br><br><br><br><br><br><br><br><br><br>
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Type a number</label>
    <div class="controls">
      <input type="number" />
      <p class="help-block"></p>
    </div>
  </div>
  <div class="form-actions">
</form>

{% endblock modal %}

{% block more-javascript %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> <!-- or use local jquery -->
<script src="{% static 'js/jqBootstrapValidation/jqBootstrapValidation.js' %}"></script>
<script>
  $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
</script>
{% endblock more-javascript %}