{% extends "base.html" %}
{% load staticfiles %}
{% load static %}


{% block more-head %}
 <
{% endblock more-head %}


{% block more-css %}
{% get_static_prefix as STATIC_PREFIX %}
	<!-- CSS Page Style -->
	<link rel="stylesheet" href="/static/css/pages/page_search.css">
{% endblock more-css %}

{% block modal %}
<div class="col-md-4 col-sm-6 md-margin-bottom-40">
					<div class="service-block service-block-default no-margin-bottom">
						<i class="icon-lg rounded-x icon-line icon-trophy"></i>
						<h2 class="heading-sm">Marketing &amp; Cunsulting</h2>
						<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
						<ul class="list-unstyled">
							<li>Analysis &amp; Consulting</li>
							<li>Email Marketing</li>
							<li>App &amp; Icon Design</li>
							<li>Responsive Web Desgin</li>
							<li>Social Networking</li>
							<li>Documentation</li>
						</ul>
					</div>
</div>
{% endblock modal %}

{% block more-javascript %}

{% endblock more-javascript %}