@charset "utf-8";
@import 'variables';
@import 'bourbon/bourbon';

p {
    font-size: $font-size-four;
}

a:hover{
    color: $primary-color;
}


.main-points{

 padding-bottom: 0;
 padding-top: 30px;
    
 h1{
     padding-bottom: 10px;
     text-align: center;
     color: black !important; 
    }
    
  .main-points-title{
         font-size: $font-size-one;
    }
    
 h3{
    font-weight: bold;
    }

    .main-points-header{
        color: black !important;
    }

}


.section-modal-pricing{
    $font-mult: 1;
    
    .modal-dialog, .modal-body, .modal-content{
        max-width: 1000px;
        .container{
            max-width: 1000px;
        }
    }
    
    // Set the min height of the middle section
    
    #providers{
        font-weight: bold;
    }
    
    .modal-content{
        .modal-body, .modal-footer{
            padding: 0;
        }
        .modal-header{
            padding: 0;
            
            .close-button{
                position: absolute;
            }
            
        }


        .card.hovercard {
            padding-bottom: 30px;
            padding-top: 20px;
            .card-background {
                position: absolute;
            }
            .card-info{
                position: relative;
                .card-title{
                    h2, h3{
                        display: inline;
                        padding: 0 10px;
                        color: black;
                        background-color: rgba(255, 255, 255, 0.8);
                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        border-radius: 4px;
                    }
                    h2{
                        font-size: $font-size-two * $font-mult !important;
                        line-height: 2;
                    }
                }
            }
        }

        .well{
            padding: 0;
            background: white !important ;
        }

        
        @mixin generate-button-colors($class, $color){
            .#{$class}{
                .btn-primary{
                    background-color: $color;
                    border-color: $color;
                }
                .btn-primary:hover{
                        color: #fff;
                        background-color: $color;
                        border-color: $color;
                }  
            }
        }
        
        @include generate-button-colors('button-color-1', $primary-color);
        @include generate-button-colors('button-color-2', $second-color);
        @include generate-button-colors('button-color-3', $third-color);


        .tab-content{
            padding-left: 0;
            padding-right: 0;
            
             /* GENERATE 3 CLASSES WITH DIFFERENT COLORS FOR THE PURCHASING MODAL */
            @mixin tab-pane-color($class, $color){     
                .#{$class}{
                .tab-pane-content{
                    padding-left: 4.5%;
                    padding-right: 4.5%;
                    padding-bottom: .5%;
                    padding-top: 1.5%;
                }

                .m-pricing-tab-content{
                    text-align: left;
                    h3{
                        font-size: $font-size-five * $font-mult !important;
                    }
                    h4{
                        font-size: 13px * $font-mult !important;
                    }
                    .tab-sub-header{
                        padding-bottom: 14px;
                        padding-top: 8px;
                        h3{
                            padding-top: 2px;
                            padding-bottom: 2px;
                            padding-left: 5px;
                            padding-right: 5px;
                            color: white;
                            background: $third-color;
                            display: inline; 
                            border: 2px solid $third-color;
                        }
                        h3:hover{
                            -webkit-transition: color .3s; /* Safari */
                            transition: color .3s;
                            -webkit-transition: background .3s; /* Safari */
                            transition: background .3s;
                        }
                    }
                    .m-pricing-tab-title{
                        overflow: visible;
                        white-space: nowrap;
                        h3{
                            color: #222 !important;
                            padding-bottom: 4px;
                        }

                    }

                    hr.hr-subtitle{
                            width: 160px;
                            border-top-color: $color !important;
                            margin-left: 0 !important;
                            margin-right: 0 !important;
                        }
                    hr.hr-subtitle-2{
                            width: 80px;
                            border-top-color: $color !important;
                            margin-left: 0 !important;
                            margin-right: 0 !important;
                        }

                     ul {
                         margin-bottom: 0;
                         padding-left: 0;
                         width: 100%;
                        list-style: none;
                        list-style-position: outside;
                        display:-moz-inline-stack;
                        display:inline-block;
                        zoom:1;
                        *display:inline;


                         
                        .popover{
                             font-size: $font-size-six;
                             width: 250px;
                             @include transparentBackgroundColor(.98, $color);
                             color: white;
                             border: 2px solid #333;
                         }

                        .popover.right>.arrow:after{
                              border-right-color: $color;
                        }
                         .popover.left>.arrow:after{
                             border-left-color: $color;
                         }
                         
                        li {
                            
                            a{
                                h4{
                                    line-height: 20px;
                                }
                                h5, h4{
                                    font-weight: 400;
                                    color: #666 !important;
                                }
                            }
                            a:hover{
                                text-decoration: none;
                                h5, h4{
                                    color: $color !important;
                                }
                            }
                        }
                        li:before{
                            content: '✔';   
                            margin-left: -1em;
                            margin-top: .4em;
                            margin-right: 0;
                            color: $color;
                            position: absolute;
                        }
                    }
                }
                        
                .m-pricing-tab-content-2{
                    text-align: left !important;
                    padding-top: 10px;
                    padding-bottom: 7px;
                    h5{
                        font-size: $font-size-six * $font-mult !important;
                        color: $color !important;
                        font-style: italic;
                    }
                 }
                
                @media screen and (min-width: 769px){
                    .btn-color{
                        float: right;
                    }
                }
                    
                .btn-color{
                    color: white;
                    border-color: $color;
                    @include transparentBackgroundColor(.85, $color, !important);

                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 75px;
                    padding-right: 75px;
                    font-size: $font-size-four * $font-mult;
                }

                .btn-color:hover{
                    color: white;
                    background: $color !important;
                }
            }
            }
            @include tab-pane-color('tab-pane-color-3', $third-color);
            @include tab-pane-color('tab-pane-color-2', $second-color);
            @include tab-pane-color('tab-pane-color-1', $primary-color);
            
        
            #pricing-modal-tab-4{
                background: #222;
                padding-top: 15px;
                padding-bottom: 18px !important;
                .tab-pane-content{
                            padding-left: 10%;
                            padding-right: 10%;
                            padding-bottom: 2%;
                            background: white;
                            max-width: 700px;
                            margin: 0 auto;
                    
                }
                
                
            }
            
        }

        .card.hovercard .card-info {
            overflow: hidden;
            font-size: 12px;
            line-height: 20px;
            color: #737373;
            text-overflow: ellipsis;
        }

    }
 } 

.section-highlights{
    
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

    .hi-intro{
        text-align: center;
        padding-top: 13px;
        padding-bottom: 40px;
        
        .main-points{
            h2{color:black;}
            h3{font-weight: $weight-light;}
        }
    }
    
    .hi-intro-2{
        @extend .hi-intro;
        margin-bottom: 0;
        margin-top: 30px;
        h2, h3{
            color: black !important;
        }
        a{
            color: $third-color;
        }
        
        &:after{
            .overlay:after {
            content: '\A';
            position: absolute;
            width: 100%; 
            height:100%;
            top:0; 
            left:0;
            background:rgba(0,0,0,0.5);
            opacity: 1;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
           -moz-transition: all 0.5s;
        }
        }
    }
    
   
    .hi-intro-4{
        @extend .hi-intro;
        padding-bottom: 50px;
        .btn-color-1{
            @include color_btn($second-color);
        }
        .btn-color-2{
            @include color_btn($third-color);
        }
        .btn-color-0{
            margin-top: 2px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 18px;
            padding-right: 18px;
            
            //outline: 1px solid $primary-color;
            background: transparent;

            color: $primary-color;  
            
            font-size: 23px;
            span{
                font-weight: bold;
            }
            &:hover{
                background: $primary-color;
                color: white;
                transition: all .3s;
            }
        }
    }
   
    
    .hi-intro-points{
        $border-color: #777;
        $padding: 35px;
        padding-top: 45px;
        padding-bottom: 45px;
        
        .main-points{
            padding-top: 0;
        }
        
        h4{
            font-size:  $font-size-five;
            font-weight: $weight-light;
        }
        
        .main-points-block{
            padding-left: 3%;
            padding-right: 3%;
            span{
                font-style: italic;
            }
            
            
            &:first-child{
                  border-right: 1px dotted $border-color;
            }
        }
        
        .i-points-border-t{
            border-top: 1px dotted $border-color;
            width: 95%;
            margin: 0 auto;
        }
        

        
        .intro-block-1{
            .main-points-block{
                padding-bottom: $padding !important;
            }
        }
        
        .intro-block-2{
            .main-points-block{
                padding-top: $padding !important;
                padding-bottom: 15px !important;
            }
        }
    }
    
    .hi-compare{

        padding-bottom: 40px;
        padding-top: 43px;
        .main-points{
            padding-bottom: 25px !important;
            text-align: center;
            vertical-align: center;
            .main-points-title{
                margin-bottom: 20px;
                color: black !important;            
            }
        }

        h4{
            font-weight: $weight-light;
            line-height: 25px;
        }
        h3{
            font-weight: 400;
            color: #222;
            margin-bottom: 50px;
            margin-top: 0;
        }
        
        a,img{
            z-index: 0;
            text-align: left;
            max-height: 250px;
            max-width: auto;
            position: relative;
            margin: 0 auto;
        }
    }
    
    .hi-success{
        text-align: center;
        padding-bottom: 43px !important;
        padding-top: 18px !important;
        #not-just{
            font-weight: 400 !important;
        }
        h1{
            color:black !important;
        }
        h4{
            color: black !important;
            font-weight: bold;
        }
        .section-success-block-1{
            margin-bottom: 43px;
        }


        .si-title{
            margin-bottom: 10px;
        }


        .main-points{
            .main-points-block{
                i {
                    padding-bottom: 15px;
                }
            }
        }

        h3 {
            color: black !important;
        }
    }

   
    .highlights-components{
        max-width: $max-width;
        margin: 0 auto;
        text-align: center;
        
        .component-circle{
            width: 120px;
            display: inline-block;
            margin-left: 18px;
            margin-right: 18px;
            
        }
        
        
        .popover{
            width: 550px; /* Max Width of the popover (depending on the container!) */
            max-width: 550px;
            z-index: 5;
         
            ul{
                padding-left: 20px;
            }
            li{
              margin-bottom: 5px;  
                &:last-child{
                    margin-bottom: 0px;
                }
            }
            h5{
                word-wrap: normal;
                white-space: normal;
            }
        
        }
        
        @media screen and (max-width: 769px){
            .popover{
                max-width: 100%;
            }
        }
    
        h5{
            overflow: visible;
            white-space: nowrap;
            p{color: #333 !important;}
        //font-size: $font-size-four;
    }
    } 
    
    
    .section-highlights-block-2{
        padding-top: 45px ;
        margin-bottom: 65px !important;
        h2{
            color: black !important;
            padding-bottom: 0px;
            margin-bottom: 25px;
            line-height: 35px !important;
        }
        h3{
            font-weight: 400 !important;
            padding-bottom: 5px;
        }
        .hi-block-2-text{
            margin-top: 0px;
        }
    }

    #hover-over{
        font-family: $font-fun;
        font-size: $font-size-three;
    }
    
    .circle-text{
        text-align: center;
        top: 20px;
        color:  #111;
        font-size:  25px !important;
        z-index: 100;
        font-weight: bold;
        text-decoration: none;
    }
    
    
    %fa-my{
          margin-left: 12px;
          margin-right: 12px;
          margin-bottom: 20px;
          height: 90px;
          width: 90px;
          line-height: 84px;
          display: inline-block;
          border-radius: 60px;
          -moz-box-shadow:    10px #ccc;
          -webkit-box-shadow: 3px 3px 5px 6px #ccc;
          box-shadow:         0px 0px 0px 5px #333;
    }
    
    
    

    
    @mixin border($color) {
        border: 3px dotted  $color;
        @include transparentBackgroundColor(.3, $color);
    }
    
    @mixin fa-my-generator($class, $color){
        .#{$class}{
            @extend %fa-my; 
            @include border($color);
        }
        .#{$class}:hover{
               @include transparentBackgroundColor(1, $color);
            
        }
    }
    
@include fa-my-generator(fa-my-1, $primary-color);
@include fa-my-generator(fa-my-2, $second-color);
@include fa-my-generator(fa-my-3, $fifth-color);
@include fa-my-generator(fa-my-4, $fourth-color);
@include fa-my-generator(fa-my-5, $sixth-color);
@include fa-my-generator(fa-my-6, $third-color);
@include fa-my-generator(fa-my-7, $seventh-color);

    
    
}



#component-pe{
    position: relative;
    right: 12px !important;
}


.section-circles{
    align-content: center;
    margin-bottom: 40px;
    
    h2 {
        padding-bottom: 25px;
        color: black !important;

    }
    
    .main-points-header{
        margin-bottom: 20px;
    }
}
 
  .section-email{
         position: relative !important;
         text-align: center;
         padding-top: 60px;
         padding-bottom: 50px;
         margin-bottom: 0px;
         .main-points{
            h2{color:black;}
            h3{font-weight: $weight-light;}
         }
         
        h3{
             color: white;
        }

        h2{
            color: white !important;
            }
        
         
        .email-intro-title{
             margin-bottom: 10px;
        }
         span{
             font-style: italic;
             font-weight: bold;
         }
         .tiny-text{
             margin-left: 6px;
             text-decoration: underline;
             font-size: 12px;
         }
         .tooltip{
               z-index: 1;
         }
         .tooltip.top .tooltip-inner{
             background-color: white;
             color: #333;
             }
         button{
             margin-bottom: 5px;
             margin-right: 2px;
         }
         * { -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important; }
         input{
             font-size: $font-size-four;
             position: relative;

         }
         input[type=email]{
             z-index: 2;
             width: 60%;
             max-width: 300px;
         }

         $height: 50px;
         input, button{
             border-right: none;
             height: $height;
             display: inline-block;
         }

         @media screen and (max-width: 500px){
             //input,label,form makes everything fit in one row under 450px
             input[type=email]{
                width: 50%;
             }
             form{
                 margin: 0 auto;
                 text-align: justify;
             }
         }

         .checkbox{
             bottom: -19px;
             right: -4px;
             display: inline-block;
             .cr{
                margin: 0;
                border-right-width: 0px !important;
                border-color: #ccc;
                background: white;
                width: $height;
                height: $height;
                display: inline-block;
            }
             .cr-icon{
                color: $primary-color;
                z-index: 1; // Overlay on top of the placeholder checkmark 
             }
             label{
                 font-size: 38px;
                 }
             .cr-placeholder{
                position: absolute;
                right: 9px;
                top: 9px;
                font-size: 30px; 
                color: rgba(#999, .6);
            }
        }
    }
    

.section-insights{
    .si-message{
        text-align: center;
        margin-top: 60px ;
        margin-bottom: 35px;
        .main-points{
            padding-top: 0px;
            .main-points-title{
                vertical-align: center;
                color: black !important;
            }
            
        }
        
        .si-message-1{
            margin-bottom: 40px;
        }
        
        #si-message-btn-wrapper-1{
            padding-top: 9px;
            padding-bottom: 70px;
        }
        
        #si-message-btn-wrapper-2{
            padding-top: 78px;
        }
        
        
        
        $btn-color: $third-color;
        $btn-color-2: $primary-color;
        
        %si-message-btn{
            text-align: center;
            color: white;
            padding-top: 5px;
            padding-bottom: 0px;
            padding-left: 8%;
            padding-right: 8%;
            font-size: $font-size-four;
            line-height: 25px;
            vertical-align: middle;
            min-width: 100%;
            min-height: 100%;
            margin: 0 auto;
            white-space: normal;
            
            h3, h4, h5 p{color: white !important;}
            h3{
                font-weight: bold;
            }
            h4{
                font-size: $font-size-four;
            }
            hr{
                margin-top: 16px;
                margin-bottom: 14px;
                width: 40px;
            }
            .read-more{
                width: 100%;
                display: block;
                color: white !important;
                 font-weight: bold;
                 text-decoration: underline;

                 &:hover{
                     color: #333 !important;
                 }
            }
    
        }

        .si-message-btn-1{
            @extend %si-message-btn;
            border: $btn-color 1.4px solid;
            @include transparentBackgroundColor(.75, $btn-color, !important);
        }
        .si-message-btn-2{
            @extend %si-message-btn;
            border: darken($btn-color-2, 8%) 1.4px solid; 
            @include transparentBackgroundColor(.90, $btn-color-2, !important); 
        }

        //For readmore.js
        article{
                max-height: 89px;
            }
    }
    
    .si-info{
        padding-top: 15px;
        padding-bottom: 40px;
        .section-insights-block-3{

            h2{
                color: black;
                display: inline;
            }
            
            
            .block-3-title{
                margin-bottom: 20px;
            }
            
            .read-more{
                color: $third-color !important;
            }
            
            //For the readmore.js, we must set the max height of each item
            article{
                max-height: 80px;
            }
            
            .main-points{
                text-align: left !important;
                .main-points-header{
                    font-weight: bold;
                }
            }
            
            span{
                font-weight: bold;
            }
            .problem{
                color: $third-color;
            }
            .solution{
                color: $primary-color;
            }
        }
    }
}



.section-why-us{
    padding-top: 0 !important;

    .why-title-wrapper{
        background: #333 !important;
    }
    .why-title{
        padding-top:  50px;
        padding-bottom: 140px;
        margin-bottom: 220px;

        h1.main-points-title{
            color: white  !important;
            font-weight: bold;
            }
        h2{color:#fff;}
    }
    .white-box{
        position: absolute;
        top: 80px;
        text-align: center;
        @include transparentBackgroundColor(.85, white);  
         -webkit-box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.75);
        padding-top: 7%;
        padding-bottom: 5%;
        padding-right: 7%;
        padding-left: 7%;
        margin: auto 0;
        margin-right: 5%;
        margin-left: 5%;
        h4{
            color: #333;
            margin-bottom: 0;
        }
        h5{
            font-weight: $weight-light;
        }
        i{
            margin-bottom: 3px;
        }
    }

    @media screen and (max-width: 1100px){
        .white-box{
            position: relative;
            top: 20px;
        }
        .why-title{
            margin-bottom: 0px;
            padding-bottom: 40px;
        }
    }


    .why-novo{
        //background: #333;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 40px;
        h2{color: black;}
        h4{font-weight: $weight-light;}
        a{
            color: $third-color;
        }
    }

    .why-graph{
        padding-bottom: 100px !important;
        text-align: center;
        h2{color: black;}
        .graph{
            margin-top: 20px;
        }
    }
    
    .why-testimonials{
        padding-top: 50px;
        padding-bottom: 50px;
        background: #333 !important;

        .headline-center{
            h2{
                margin-bottom: 30px;
                color:white;
                &:after{background: $primary-color;}
            }
        }
        .testimonials-info{
            &:hover{
                 border-bottom: solid 3px $primary-color;
            }
        }


         .testimonials{
                .item blockquote {
                    border-left: none;
                    margin: 0;
                
                    & .quote{
                        color: white !important;
                    }

                  & small{
                      color: $second-color;
                  }

                  & .quote:before {
                    content: "\f10d";
                    font-family: 'Fontawesome';
                    float: left;
                    left: 10px;
                    font-size: 20px;
                    position: absolute;
                    color: $primary-color;
                }

                 & .quote:after{
                      content: "\f10e";
                    font-family: 'Fontawesome';
                    float: left;
                    right: 10px;
                    font-size: 20px;
                    position: absolute;
                    color: $primary-color;
                 }
            } 
        }
    }

   

}

.cd-testimonials-wrapper:after{
            font-size: 70px !important;
            line-height: 75px;
            @include transparentBackgroundColor(.8, $second-color);
            height: 55px;
}


//In the why-us section
.cd-testimonials{
    p{
        font-size: $font-size-three !important;
        color: white !important;
    }
    li{
        color: $primary-color; 
        list-style-type: none !important;
        list-style: none;
        &:first-child{
            color: $second-color;
        }
        }

        .cd-author-info {
            //margin-left: 42px !important;
			line-height: 1.4;

			li:first-child {
				font-size: $font-size-four;
			}

			li:last-child {
				font-size: $font-size-six;
			}
		}    
}


.section-faq{
    //Background set as in-style background, to use Django static image location
    #faqs{
        .panel-body{
            color: #444;
            h5, p{
                color: #444 !important
            }
        }
        .panel{

            a:hover{
                text-decoration: none;
            }
            a{
                color: $primary-color;
            }
            .collapsed{
                color: #333 !important;
            }
        }
    }
    
    .nav-tabs{
        >li >a{ font-size: $font-size-four;}
    }
    
    h1{
        color: #333 !important;
    }
    
    i{
        color: $primary-color !important;
    }
    
    .nav-wrapper{  
        margin: 0 auto;
        max-width: $max-width;
    }
    
    h2{
        color: #333;
        border-color: $primary-color !important;
    }
    .headline{
        margin-top: 0px;
        border-bottom: none;
        margin-bottom: 15px ;
        h2{margin-bottom: 0px;}
    }
    
    .faq-resources{
        max-height: 550px;
        padding-top: 20px;
        
        p{
            font-size: 11px !important;
        }
 
        //Overwriting from portfolio-2.css
        .sorting-block .sorting-grid li a:hover .sorting-cover {
            background: $primary-color;
        }

        .sorting-block .sorting-grid li a:hover .sorting-cover p,
        .sorting-block .sorting-grid li a:hover .sorting-cover span {
            color: #fff;
        }
      
        
        span{
            font-size: 15px !important;
        }
        .sorting-nav{
            text-align: center;
            li{
                font-style: normal;
                font-size: 16px;
            }
            li.active{
                color: $primary-color;
                text-decoration: none;
                border-bottom: 1px solid $primary-color;
            }
        }
        .sorting-grid{
            max-width: 1000px;
            margin: 0 auto;
        }
        
        .img-responsive{
            height: 130px;
        }
    }
    
            
   }

.section-benefits{
    // Prevents awkward resizing and text-wrapping at some widths
    @media screen and (min-width: 1100px){
         .container{
            min-width: 1050px !important;
        }
    }
    margin-bottom: 25px;
    .sb-benefits{
        margin-bottom: 0px;
              li{
            font-weight: $weight-light;
        }
    }
    
    .sb-title{
        height: 290px;
        vertical-align: middle;
        display: table-cell;
        vertical-align: middle;
    }
    .main-points{   
        .main-points-block{
            padding-left: 5px;
            padding-right: 5px;
            
            
            h3{
            text-align: center;
            padding-bottom: 0px;
            }
            
            h4 {
                
                font-style: italic;
            }
            
            .main-points-block-title{
                text-align: center;
                padding-bottom: 5px;
            }
            
            ul {
                list-style: none;
                list-style-position: outside;
                display:-moz-inline-stack;
                display:inline-block;
                zoom:1;
                *display:inline;
                padding-left: 50px;
                
                li {
                    line-height: 30px;
                    font-size: $font-size-four;
                    margin-bottom: 3px;
                }
                li:before{
                    content: '✔';   
                    margin-left: -1em;
                    margin-right: .200em;
                    color: green;
                }
            }
            
        }
    }
}


//Use REM in this sectinon for units
.section-slideshow{
    margin: 0 auto;
    max-width: $max-width;
    
    .cd-slider-navigation{min-width: 310px;} // Make sure on mobile the dots are in a single line
    
    .cd-slider-wrapper{
        padding-bottom: 0;
        max-height: 800px;
        min-height: 600px;
    }
    
    @media (min-width: 992px) {
        .cd-slider-wrapper{
            max-height: 800px;
        }
    }

    @media screen and (max-width: 901px){
        //Set height explicityly for the slider sadly.
        .cd-slider-wrapper{
            height: 950px !important; 
            max-height: 950px !important;
            }
    }
    @media screen and (max-width: 600px){
        //Set height explicityly for the slider sadly.
        .cd-slider-wrapper{
            height: 1400px !important;
            max-height: 1400px !important;
            }
    }

    
    .cd-slider-navigation{
        z-index: 1;
    }
    
    h2{
        line-height: 1.4;
        margin-bottom: 30px;
        font-size: 3.0rem;
    }
    
    p{
        font-size: 1.6rem;
        line-height: 1.4; 
        span{
            font-weight: bold;
        }
        
    }
    

    
    .btn-color{
        @include color_btn($third-color);    }
    
    @media screen and (max-width: 768px){
        h2{
            margin-bottom: 20px;
        }
    }
}

.section-plans{
    background: #3E4747 !important; 
    .plans-btn-wrapper{
                margin-top: 32px !important;
    }

  .plans-intro{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 0px !important;
        

        h2{color: #eee;}
        h3{font-weight: $weight-light;}
        h4{
            color: white !important;
        }
        
        padding-bottom: 50px;
        .btn-color-1{
            @include color_btn($second-color);
        }
        .btn-color-2{
            @include color_btn($third-color);
        }
        .btn-color-0{
            margin-top: 2px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 18px;
            padding-right: 18px;
            
            //outline: 1px solid $primary-color;
            background: transparent;

            color: $primary-color;  
            
            font-size: 23px;
            span{
                font-weight: bold;
            }
            &:hover{
                background: $primary-color;
                color: white;
                transition: all .3s;
            }
        }

    }
  


    .btn-color{
        @include color_btn($eighth-color);
        display: table;
        margin: 0 auto;
           padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 65px;
        padding-right: 65px;
        background-color: transparent;
        h4{color: white !important;}
    }

    .pricing-menus-wrapper{
        padding-bottom: 50px;
    }
    

    .popover{
        z-index: 3;
        width: 250px;
  
        li, h5{
            margin-bottom: 0px;
        }
      
    }
    
    .title{
        margin-bottom: 20px;
        text-align: center;
        h1,h2,h3,h4,h5{
            color: white !important;
        }
      
    }

    .title-message{
        h5{
            color: white;
        }
   
        padding-bottom: 30px !important;
    }

    .heading-sm{
        margin-bottom: 10px;
        font-size: $font-size-three;
    }


    .service-blocks {
        padding-top: 20px;
        padding-bottom: 0px;
        max-width:  1400px;
        .service-blocks-header{
          
            h2, h3, h4{
                color: white !important;
            }
        }
        
    }
    .service-block{
        max-width: 340px;
        margin: 0 auto;
        margin-bottom: 0px;
        padding-top: 20px;
        width: 100%;


       h2{
           font-size: $font-size-five;
       }
       h3{
           line-height: 20px;
       }
       h3, h4{
           font-size: $font-size-four;
       }
       h5, li{
           font-size: 14px;
       }
       hr{
           margin-top: 17px;
           margin-bottom: 17px;
       }
       ul{
           li{
            margin-bottom: 6px;
            &:last-child{
                margin-bottom: 0;
            }
         }
       }
        
        a, a:visited{
            color: rgb(85, 85, 85);
            text-decoration: none;
        }


          .service-block-title{
              padding-left: 0px;
              padding-right: 0px;
            h5{
                font-style: italic;
                padding-left: 10px;
                padding-right: 10px;
            }
            span{
                font-size: $font-size-six;
            }
        }

        .service-block-content{
            padding-top: 5px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .service-block-default{
        padding: 0px;
        margin-top: 30px;
    }


    ul{
        li{
            font-size: $font-size-four;
            padding-bottom: 10px;
        }
    }
    
    .btn-u{
        font-size: $font-size-four;
        width: 100%;
    }

    .message-block, .service-blocks-header{
        i{
            color: white !important;
        }
    }
    .service-message{
            padding-top: 0px;
            h1,h2,h3,h4,h5,p{
                color: white;
            }
            h2{
                border-bottom: 2px solid white;
                display: inline-block;
                padding-right: 4px;
                padding-bottom: 2px;
            }
            table{
                td{
                    padding-top: 4px;
                    padding-bottom: 4px;
                    padding-right: 20px;
                }
                padding-top: 0px;
                margin-bottom: 6px;
                margin-top: 0px;
            }
            span{
                font-weight: bold;
            }
    } 

    .message-block{
        text-align: left;
        margin-top: 30px;
        margin-bottom: 60px;
        &:last-child{
            margin-bottom: 60px;
        }
    }

    .plans-notice{
        border-top: none;
        padding-top: 15px;
        text-align: center;
        p{
            font-family:  $font-fun;
            font-size: 20px;
            color: white !important;
        }
    }


      /* GENERATE 3 CLASSES WITH DIFFERENT COLORS FOR THE PURCHASING MODAL */
        @mixin service-block-color($class, $color){     
            .#{$class}{
                    li {
                        a:hover{
                            color: $color;
                            }
                        }

                    i{color: darken($color, 5%);}

                    .color-top{
                        height: 13px;
                        background: $color;
                    }
                    h2{
                        color: #444;
                    }
                    h3{
                        color: darken($color, 5%);
                    }
                    h4{
                        color: #777;
                        font-weight: $weight-light;
                    }
                    h5{
                        color: $color;
                        font-weight: 400;
                    }
                }     
            }
            @include service-block-color('service-block-color-5', $primary-color);
            @include service-block-color('service-block-color-4', $fourth-color);
            @include service-block-color('service-block-color-3', $third-color);
            @include service-block-color('service-block-color-2', $second-color);
            @include service-block-color('service-block-color-1', $fifth-color);

}



    $opacity: .15;
    .ss-bg-col-1{ @include transparentBackgroundColor($opacity, $primary-color);}
    .ss-bg-col-2{ @include transparentBackgroundColor($opacity, $second-color);}
    .ss-bg-col-3{ @include transparentBackgroundColor($opacity, $third-color);}
    .ss-bg-col-4{ @include transparentBackgroundColor($opacity, $fourth-color);}
    .ss-bg-col-5{ @include transparentBackgroundColor($opacity, $fifth-color);}
    .ss-bg-col-6{ @include transparentBackgroundColor($opacity, $sixth-color);}
    .ss-bg-col-7{ @include transparentBackgroundColor($opacity, $seventh-color);}

.section-solutions{
    -webkit-transition: background-color .3s; /* Safari */
    transition: background-color .3s;
    .one-default{
        background: transparent;
    }
}

.section-services{
    padding-bottom: 60px !important;
    h1{
     font-size:  1.15em;
     font-weight: 500;   
    }
    p{
        font-weight: 500 ;
    }
    #hex-1{background: $primary-color;}
    #hex-2{background: $second-color;}
    #hex-3{background: $third-color;}
    #hex-4{
        background-color: $seventh-color;
        h1:after{
            border-bottom: 0px solid black !important;
        }
    }
    #hex-5{background: $fifth-color;}
    #hex-6{background: $sixth-color;}
    #hex-7{background: $fourth-color;}

}


.section-demo{        
    .sb-title{
        margin-bottom: 20px;
        h2{
            font-weight:  500; 
        }
    }
    
    .demo-content{
        h2{
            color: black;
        }
        h5{
            color: #444 !important;
            font-weight: 500 ;
        }
    }
    
    .btn-color{
        @include color_btn($third-color);
    }
    
    .demo-btn-wrapper{
        margin-top: 20px;
    }

    span.color{
        color: $primary-color;
    }
}


.nav-justified{
    a, a:active, a:focus{
        color: black !important;
    }
    a:hover{
        color: $third-color !important;
        background: none !important;
    }
}




.section-modal-solutions{
    
    #ADD{
        .col-middle{
            border-right: 1px solid #eee;
            border-left: 1px solid #eee;
        }
        
        #add-header{
            text-align: center !important;
            font-size: $font-size-three;
        }
        .col-md-4{
            text-align: center;
        }
        i{text-align: center;}
        
        
    }
    
    .col-md-9.lg{
        padding-left: 0;
    }
    
    .timeline_width{
        width: 220px !important;
        padding-right: 0;
    }
    
    /* MODAL SETTINGS */
    @media screen and (min-width: 769px){
        .modal-dialog{
        width: 70% !important;
        min-width: 980px;
        max-width: 980px;
        }
    }

    /*overwrite*/
    .modal-footer{
        padding: 0;
        border-top: 0px solid white;
        background: transparent;
        height: 0px;
        button{        
            position: absolute;
            right: 12px;
            bottom: 17px;
        }
    }       
    }


    
    //Generates the title colors for each tab
    @mixin generateTabClassColor($class, $color){
        ##{$class}{
            
                h3{
                    color: $color !important;
                }
            
        }
    }
    
    @include generateTabClassColor(PE, $primary-color);
    @include generateTabClassColor(DS, $second-color);
    @include generateTabClassColor(EHR, $fifth-color);
    @include generateTabClassColor(RCM, $fourth-color);
    @include generateTabClassColor(DA, $sixth-color);
    @include generateTabClassColor(PHM, $third-color);
    @include generateTabClassColor(ADD, $seventh-color-2);

    .section-modal-solutions .tab-content{
        padding-left: 20px;
        padding-right: 10px;
        color: black;
        img.tab_image{ /* Shrink the image proportionally */
                width:100%; /* you can use % */
                height:auto;
                min-height: 250px;
            }
        hr{
            margin-top: 10px;
            margin-bottom: 10px;
            }
        
        p{
            color: #555;
            text-align: justify;
        }
        
        .tab-content-main-message{
            p{font-style: normal;}
            h3{
                font-weight: bold;
            }
        }
        
        }

    
    /*TIMELINE OVERRIDES */
    .timeline-v1:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eee;
        left: 186px;
        margin-left: -1.5px;
    }
    

    .timeline-v1{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        a{
            text-decoration: none;
            color: inherit !important;
        }

        i{
            left: 6px;
            pointer-events: none !important;
            cursor: default !important;
        }
        
         li {
            margin-bottom: 20px;
            margin-top: 0;
            position: relative;
            width: 180px;
            float: left;
            clear: left;
        }
        
        li.last-item{
            margin-bottom: 0;
        }
        
        li:active{
            i{
                color:black;
            }
        }
        li:nth-child(2){
            margin-top: 0px;
        }

        p {
            margin:0px;
            text-align: center;
            display: block;
            padding: 10px;
            min-height: 70px;
            font-weight: 500;
        }

        p.one-liner{
            line-height: 50px;
        }

        p{
            font-weight: 400;
            color: black;
        }

        .timeline-body{
            padding: 5px ;
        }

        .timeline-body:hover{
            opacity: 0.8; /* css standard */
            filter: alpha(opacity=80); /* IE */  
        }

        .clearfix{
            height: 1px !important;
            margin: 1px !important;
        }
    }
    
        
    @media screen and (max-width: 768px) {
        .timeline-v1:before {
            left: 46px;
            }
        .timeline-panel{
            a{
                .timeline-body{
                    width: 200px !important;
                }
            }    
        }
    }
    

/* Dot class called with jquery to change timeline dot scolor */
.dot-color{
    color: $fourth-color;
}

.full-width{
    width: 100%;
}

#icon-user {
    color: $primary-color;
}

#icon-user-md {
    color: $second-color;
}

#icon-users {
    color: $fourth-color;
    text-shadow: 3px 3px 3px #ccc;
}



#click-here{
    font-family: $font-fun;
    font-size: $font-size-one;
    letter-spacing: 2px;
    position: absolute;
    padding-top: 100px;
}

#call-now{
    right: 40px !important;
    h5{
        color: #333;
    }
}

@media screen and (min-width: 769px){
    #click-here{
    margin-left: 30px;
        margin-top: 23px;
    }
}
@media screen and (max-width: 768px){
    #click-here{
        display: none;
    }
}



.rev_slider_wrapper{
    //Styling the TP-BANNER Slider
    .tp-tab-desc{
        color: rgb(249, 237, 0) !important;
        //color: rgb(252, 236, 58) !important;
    }
}

// Force max height on the front slideshow
.rev_slider_wrapper, .rev_slider, .forcefullwidth_wrapper_tp_banner{
    max-height: 700px !important; 
    min-height: 600px !important;
}

#modal-guarantee{
    .modal-header, .modal-dialog, .modal-body, .modal-footer{
        max-width: 1000px;
    }
    
    .modal-body{
        padding-left: 10%;
        padding-right: 5%;
    }
    
    .modal-footer{
        text-align: center !important;
        .row{padding-left: 8%;
            padding-right: 8%;}
    }
    
    .modal-header{
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 17px;
        h3, h4{
            color: $third-color;
            font-weight: bold;
        }
        
        h5{
            color: black;
            font-style: normals;}
    }
    
    hr{
        margin-top: 10px;
    }
    
    .guarantee-points{
        padding-top: 10px;
    }
    
    .round-wrapper{
        display: block;
        height: 140px;
        h5{
            padding: 0;
            display: inline;
            line-height: 20px;
        }
    }
    
    .round-tabs{
        width: 70px;
        height: 70px;
        line-height: 70px;
        display: inline-block;
        border-radius: 100px;
        font-size: 25px;
        background: transparent;
        margin-top: 0px;
        margin-right: 10px;
    }
    
    @media screen and (min-width: 992px){
        .no-bottom{
            height: auto !important;
        }
    }

    .round-tabs.one{
        color: rgb(34, 194, 34);
        border: 2px solid rgb(34, 194, 34);
    }
    
    .modal-footer{
        font-size: $font-size-mini;
        text-align: left;
    }
}


// SET Z-INDEXES HERE
.rev_slider_wrapper{
        z-index: 201 !important;
}





#modal-chart{
    .close-button{
        right: -25px !important;
        top: -20px !important;
        button{
            color: white !important;
            font-size: 70px !important;
        }
    }
    .modal-content{background: transparent;}
    .modal-body{
        padding: 0;
    }
    ul{
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;
    }
    li{
        font-size: $font-size-four;
    }
      #cd-table{
        background: white !important;
    }
    h2{
        margin-bottom: 0 !important;
        padding-bottom: 0;
        font-size: $font-size-five !important;

    }
    
    .cd-top-title{
        padding-left: 15px !important;
        margin-top: 0;
    }

    .cd-top-title-wrapper{padding-top: 5px;}// Fix the offset from setting margin-top to 0 for cd-top-title

    .cd-left-title{
        margin-top: 0;
        padding-left: 0;
    }

    .cd-title{
        background: #456 !important;
    }

}
