.navbar {
    margin: 0;

}

/*.navbar-nav > li{
  padding-right:20px;
}

.navbar a {
    color: blue;
}

.navbar-brand{
  padding-right: 40px;
}



.nav a{
    color: white ;
    font-size: 1.4em ;
}
*/


.navbar h5{
    font-size: 1.2em ;
    font-color: black;
}


.form-group.required .control-label:before{
   color: red;
   content: "*";
   position: absolute;
   margin-left: 2px;
}


/* To be below fixed nav bar */
.content-main { padding-top: 70px; }
@media screen and (max-width: 768px) {
    .content-main { padding-top: 0px; }
}

.navbar a{
  font-color: black !important;
}
