@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: Vollkorn, serif;
  src: url(https://fonts.googleapis.com/css?family=Vollkorn); }
.__color-button {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 65px;
  padding-right: 65px;
  font-size: 15.5px;
  border-radius: 50em; }

.bg-blue {
  background: #45AEEA; }

.main-points {
  padding-bottom: 0;
  padding-top: 30px; }
  .main-points h1 {
    padding-bottom: 10px;
    text-align: center;
    color: black !important; }
  .main-points .main-points-title {
    font-size: 27px; }
  .main-points h3 {
    font-weight: bold; }
  .main-points .main-points-header {
    color: black !important; }

hr {
  border: 0;
  border-top: 1px solid #eee; }

.col-centered {
  float: none;
  margin: 0 auto; }

.cd-navbar-wrapper header .logo img {
  height: 40px;
  width: auto;
  margin-bottom: 2px; }

#cd-nav-text {
  position: absolute;
  left: 28%;
  margin-top: 1.4%; }
  #cd-nav-text h5 {
    font-size: 12px;
    color: black !important;
    line-height: 17px; }

.cd-navbar-wrapper .cd-auto-hide-header {
  z-index: 10 !important; }

.cd-primary-nav > ul a:hover, .cd-primary-nav > ul a.active {
  text-decoration: none !important;
  color: #45AEEA !important; }

.cd-secondary-nav {
  z-index: 10 !important; }
  .cd-secondary-nav li a {
    font-size: 15.5px;
    color: white;
    text-decoration: none; }
    .cd-secondary-nav li a.active {
      box-shadow: inset 0 -3px #45AEEA !important; }

.show-mobile {
  display: none; }

@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none; }

  .show-mobile {
    display: inherit; } }
#nav-call {
  width: 180px; }
  #nav-call a {
    top: 23px;
    color: #D43A43;
    position: absolute; }
    #nav-call a:hover {
      color: #D43A43 !important; }
  #nav-call .popover h5 {
    margin: 0;
    padding-top: 0 !important;
    padding-bottom: 0; }
  #nav-call span.tiny {
    width: 100%;
    font-size: 12px !important;
    position: absolute;
    right: -11px;
    top: 20px; }

@media screen and (max-width: 1180px) {
  #cd-nav-text {
    display: none; } }
@media screen and (max-width: 1023px) {
  #cd-navigation {
    padding-left: 0; }
    #cd-navigation li {
      list-style-type: none; }

  #nav-call {
    width: auto; }
    #nav-call a {
      position: relative;
      top: auto; }
    #nav-call span.tiny {
      display: none; }
    #nav-call .show-mobile {
      display: inline;
      font-size: 12px !important; } }
.cd-primary-nav {
  padding-right: 3%; }

.center {
  float: none;
  text-align: center;
  margin: auto 0; }

.title h1 {
  font-size: 40px !important;
  color: white !important; }

.bold {
  font-weight: bold; }

hr.no-margin {
  margin: 0px !important; }

/* To be below fixed nav bar */
.content-main {
  margin-top: 60px !important; }

@media screen and (max-width: 1025px) {
  .content-main {
    margin-top: 40px !important; } }
.no-padding-b {
  padding-bottom: 0px !important; }

.star_text {
  font-size: 11px; }

.sidebar {
  position: fixed;
  float: left;
  margin-top: 20%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 500;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 48px;
  -webkit-transition: width .1s;
  /* Safari */
  transition: width .1s;
  border-top: solid 1px #333;
  border-right: solid 1px #333;
  border-bottom: solid 1px #333;
  box-shadow: 1px 1px 1px #333; }
  .sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    .sidebar ul li {
      padding: 0;
      padding-bottom: 10px;
      overflow: visible;
      white-space: nowrap; }
      .sidebar ul li i {
        margin-right: 13px;
        width: 25px;
        color: #45AEEA; }
      .sidebar ul li h5 {
        display: inline; }
      .sidebar ul li a {
        text-decoration: none;
        display: block; }
    .sidebar ul #sidebar-phone h5 {
      color: #D43A43; }
    .sidebar ul .sidebar-content {
      display: none;
      line-height: 20px;
      overflow: visible;
      white-space: nowrap; }
    .sidebar ul li:last-child {
      padding-bottom: 0; }
    .sidebar ul li:hover h5 {
      color: black; }
    .sidebar ul li:hover i {
      color: black; }
    .sidebar ul #sidebar-phone:hover h5 {
      color: red !important; }

@media screen and (max-width: 768px) {
  .sidebar {
    display: none; } }
.sidebar:hover {
  width: 170px; }
  .sidebar:hover .sidebar-content {
    display: inline;
    top: -2px; }

.icon {
  text-shadow: 3px 3px 3px #ccc; }

#call-now-info {
  z-index: 500;
  position: absolute; }

.call-now-wrapper li {
  float: right; }

.no-break {
  white-space: nowrap;
  overflow: visible; }

#topcontrol:hover {
  background: #45AEEA !important; }

.tiny-text {
  font-size: 10px !important; }

.no-wrap {
  overflow: visible;
  white-space: nowrap; }

/* .modal-transparent */
.modal-transparent {
  background: transparent; }

.modal-transparent .modal-content {
  background: transparent; }

.modal-backdrop.modal-backdrop-transparent {
  background: #ffffff; }

.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .9;
  filter: alpha(opacity=90); }

/* .modal-fullscreen */
.modal-fullscreen {
  background: transparent; }
  .modal-fullscreen .close-button {
    right: 8px;
    top: 0px;
    position: absolute;
    z-index: 1000; }
    .modal-fullscreen .close-button .close {
      font-size: 35px !important; }

.modal-fullscreen .modal-header, .modal-fullscreen .modal-footer {
  border-bottom: none;
  border-top: none; }

.modal-fullscreen .modal-content {
  background: white;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.modal-backdrop.modal-backdrop-fullscreen {
  background: black; }

.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .9;
  filter: alpha(opacity=90); }

/* MODAL STYLE CUSTOM CLASSES DEFINED BELOW */
/* .modal-fullscreen size: we use Bootstrap media query breakpoints. */
.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%; }

.modal-fullscreen .modal-header, .modal-fullscreen .modal-body {
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px; } }
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px; } }
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
    width: 1170px; } }
.modal-header {
  margin: 0;
  padding: 0; }

.modal .contact-btn {
  font-size: 15.5px;
  min-width: 100%;
  text-align: center; }

/* END CUSTOM MODAL STYLE  */
/* Custom Modals */
#modal-contact .modal-dialog, #modal-contact .modal-body, #modal-contact .modal-header {
  max-width: 700px; }
#modal-contact .modal-footer {
  padding-top: 0; }
#modal-contact .modal-body {
  padding-top: 0px;
  padding-bottom: 10px;
  margin-top: 3.5%; }
#modal-contact .modal-body, #modal-contact .modal-header {
  padding-left: 3%;
  padding-right: 3%; }
#modal-contact .contact-title img {
  margin-top: 15px; }
#modal-contact .contact-title .m-contact-title {
  padding-top: 10px; }
#modal-contact .contact-title .modal-title {
  font-size: 15.5px; }
#modal-contact .contact-message h5 {
  color: #555;
  font-weight: 300; }

#modal-demo .modal-dialog, #modal-demo .modal-body, #modal-demo .modal-header {
  max-width: 700px; }
#modal-demo .modal-footer {
  padding-top: 0; }
#modal-demo .modal-body {
  padding-top: 0px;
  padding-bottom: 10px;
  margin-top: 3.5%; }
#modal-demo .modal-body, #modal-demo .modal-header {
  padding-left: 3%;
  padding-right: 3%; }
#modal-demo .contact-title img {
  margin-top: 15px; }
#modal-demo .contact-title .m-contact-title {
  padding-top: 10px; }
#modal-demo .contact-title .modal-title {
  font-size: 15.5px; }
#modal-demo .contact-message h5 {
  color: #555;
  font-weight: 300; }

/* end custom modals */
/* Utility css */
.inline {
  display: inline; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

hr.no-bottom {
  margin-bottom: 0; }

hr.no-top {
  margin-top: 0 !important; }

.col-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.col-1 {
  color: #45AEEA; }

.col-2 {
  color: #EFB917; }

.col-3 {
  color: #D43A43; }

.col-4 {
  color: #72c02c; }

.col-5 {
  color: #FF8800; }

.col-6 {
  color: #C900E3; }

.col-7 {
  color: lightgrey; }

.col-8 {
  color: #00E891; }

.col-9 {
  color: #4D0CE8; }

.col-10 {
  color: #FF0060; }

.bg-col-1 {
  background: #45AEEA; }

.bg-col-2 {
  background: #EFB917; }

.bg-col-3 {
  background: #D43A43; }

.bg-col-4 {
  background: #72c02c; }

.bg-col-5 {
  background: #FF8800; }

.bg-col-6 {
  background: #C900E3; }

.bg-col-7 {
  background: lightgrey; }

/* utility end */
.inquire-finish .inquire-title {
  padding-top: 15%; }
.inquire-finish .inquire-close-button {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 20px; }

.inquire-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px; }
  .inquire-title h2 {
    color: black; }

form .form-title {
  border-bottom: 2px solid #45AEEA;
  display: inline-block;
  min-width: 100px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  margin-top: 15px; }
  form .form-title h5 {
    color: #45AEEA !important;
    display: inline;
    font-size: 14px; }
form .form-title.no-top {
  margin-top: 0; }
form .form-title:first-child {
  margin-top: 0px; }
form .form-statement {
  font-size: 15px; }
  form .form-statement input {
    width: 44px !important; }
  form .form-statement select {
    width: 140px;
    bottom: 1px; }
form #form-are-you-trying {
  min-height: 90px; }
form #form-bottom {
  margin-top: 15px; }
form .form-button {
  margin-top: 28px; }
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  font-weight: 300; }
form input::-moz-placeholder, form textarea::-moz-placeholder {
  font-weight: 300; }
form input:-moz-placeholder, form textarea:-moz-placeholder {
  font-weight: 300; }
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  font-weight: 300; }
form .form-message textarea {
  min-height: 80px; }
form .contact-btn {
  font-size: 15.5px;
  min-width: 100%;
  text-align: center; }
form .next-step, form .prev-step {
  font-size: 13px;
  width: 120px; }
form .next-step {
  float: right; }
form .prev-step {
  float: left;
  background-color: transparent;
  color: #337ab7;
  border: 1px solid #337ab7; }
  form .prev-step:hover {
    color: white;
    background-color: #337ab7;
    transition: all .1s; }

/*
div, span, p, h1, h2, h3, h4, h5{
    border: 1px solid black !important;
}
*/

/*# sourceMappingURL=project.css.map */
