@import 'variables';

.col-centered{
    float: none;
    margin: 0 auto;
}


.header-slogan a{
        color: $fourth-color ;
    }


.header-v8 {
    .navbar{
        margin: 0;
        li{
            h5{
                color: black !important;
                font-family: $font-primary;
                /*padding: 0 !important;*/
                line-height: 50px !important;
              }
            
            .tiny-text{
                        font-size: 10px !important;             
                    }
            
            
            a{
                font-weight: 500;
            }
            a:hover, a:active{
                color: $primary-color !important;
                }  
        }
    
    }
    h5{
        /*Prevents a glitch where the text shrinks and goes to new line for half a second when resizing*/
        white-space: nowrap;
        overflow: hidden;
        font-size:  1.1em;
    }
    
    /* Set back to defaults */
    @media screen and (max-width: 768px){
        h5{
            white-space: initial;
            overflow: auto;
        }
    }
}

/*Shrink the header text when scrolling down */
.header-v8.header-fixed-shrink h5 {
    font-size: 1.0em;
	}

.header-v8 .navbar-nav > .active > a,
.header-v8 .navbar-nav > .active > a:hover,
.header-v8 .navbar-nav > .active > a:focus {
	color: $primary-color !important;
}

.form-group.required .control-label:before{
   color: red;
   content: "*";
   position: absolute;
   margin-left: 2px;
}


.title{
    h1 {
        font-size: 40px !important;
        color: white !important;
    }
}

.bold{
    font-weight: bold;
}



hr.no-margin{
    margin: 0px !important;
}


/* To be below fixed nav bar */
.content-main { padding-top: 32px; }

@media screen and (max-width: 768px) {
    .content-main { padding-top: 0px; }
}


.no-padding-b{
    padding-bottom: 0px !important;
}

.navbar-brand{
    padding: 10px;
    text-align: center !important;
}


.star_text{
    font-size: $font-size-mini;
}

/*.sidebar {
     position: fixed;
     width: 200px;
     height: 400px;
     background: #000;
 }*/ 


#call-now{
    font-weight: 400;
   /* color: black; */
    color: $third-color !important;
    #tiny{
        font-size: 10px;
    }
}
