@import 'variables';

.col-centered{
    float: none;
    margin: 0 auto;
}


.header-slogan a{
        color: $fourth-color ;
    }


.header-v8 {
    .navbar{
        margin: 0;
        li{
            h5{
                color: black !important;
                font-family: $font-primary;
                /*padding: 0 !important;*/
                line-height: 50px !important;
              }
            
            .tiny-text{
                        font-size: 10px !important;             
                    }
            
            
            a{
                font-weight: 500;
            }
            a:hover, a:active{
                color: $primary-color !important;
                }  
        }
    
    }
    h5{
        /*Prevents a glitch where the text shrinks and goes to new line for half a second when resizing*/
        white-space: nowrap;
        overflow: hidden;
        font-size:  1.1em;
    }
    
    /* Set back to defaults */
    @media screen and (max-width: 768px){
        h5{
            white-space: initial;
            overflow: auto;
        }
    }
}

/*Shrink the header text when scrolling down */
.header-v8.header-fixed-shrink h5 {
    font-size: 1.0em;
	}

.header-v8 .navbar-nav > .active > a,
.header-v8 .navbar-nav > .active > a:hover,
.header-v8 .navbar-nav > .active > a:focus {
	color: $primary-color !important;
}

.form-group.required .control-label:before{
   color: red;
   content: "*";
   position: absolute;
   margin-left: 2px;
}


.title{
    h1 {
        font-size: 40px !important;
        color: white !important;
    }
}

.bold{
    font-weight: bold;
}



hr.no-margin{
    margin: 0px !important;
}


/* To be below fixed nav bar */
.content-main { padding-top: 32px; }

@media screen and (max-width: 768px) {
    .content-main { padding-top: 0px; }
}


.no-padding-b{
    padding-bottom: 0px !important;
}

.navbar-brand{
    padding: 10px;
    text-align: center !important;
}


.star_text{
    font-size: $font-size-mini;
}


#nav-call-now{
    a{
    font-weight: 600;
   /* color: black; */
    color: $third-color !important;}
    #tiny{
        font-size: 10px;
    }
}

.sidebar {
    position: fixed;
    float:left;
    margin-top: 10%;
    @include transparentBackgroundColor(.9, #FFFFFF);
    z-index: 500;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 48px;
    -webkit-transition: width .3s; /* Safari */
    transition: width .3s;
    border-top: solid 1px #333;
    border-right: solid 1px #333;
    border-bottom: solid 1px #333;
    box-shadow: 1px 1px 1px #333;
    ul{
        padding: 0;
        margin: 0;
        list-style-type:none;
        
        li{ 
            padding: 0;
            padding-bottom: 10px;
            overflow: visible;
            white-space: nowrap;
            i{
                margin-right: 10px;
                width: 25px;
                color: $primary-color;
            }
  
            
            h5{
                display: inline;
            }
            a{
                text-decoration: none;
                display: block;
            }
        }
        
        
        #sidebar-phone{
            h5{color: $third-color;}
        }
        #sidebar-contact{}
        #sidebar-live-chat{}
        
        
        .sidebar-content{
            display: none;
            line-height: 20px;
            overflow: visible;
            white-space: nowrap;
        }
        
        
        li:last-child{
            padding-bottom: 0;
        }
        
        li:hover{
            h5{color:black;}

            i{
                color: black;
            }
        }
        
        #sidebar-phone:hover{
            h5{color: red !important;}
            }
    }
}

 .sidebar:hover{
            width: 150px;
            .sidebar-content{
                display: inline;
            }
    }



.icon{
    text-shadow: 3px 3px 3px #ccc;
}