@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato);
@font-face {
  font-family: Vollkorn, serif;
  src: url(https://fonts.googleapis.com/css?family=Vollkorn); }
.__color-button {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 65px;
  padding-right: 65px;
  font-size: 15.5px;
  border-radius: 50em; }

/* Custom Modals */
body {
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility; }

.cd-secondary-nav {
  background-color: transparent;
  width: 1220px; }

div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 70%; }

.table-title h3 {
  color: #fafafa;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", helvetica, arial, sans-serif;
  text-transform: uppercase; }

input {
  display: inline-block;
  max-width: 300px;
  border-right: 0px solid black !important; }

input, button {
  height: 40px !important;
  line-height: 40px; }

button {
  position: relative;
  bottom: 1px; }

/*** Table Styles **/
.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  border-collapse: collapse; }

th {
  margin: 0 auto;
  color: #fafafa;
  border-right: 1px solid #343a45;
  font-size: 16px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  vertical-align: middle; }

thead {
  display: block; }
  thead th {
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af; }

tbody {
  display: block;
  overflow: auto; }
  tbody th {
    background-color: #45aeea; }

th:first-child {
  border-top-left-radius: 3px; }

th:last-child {
  border-top-right-radius: 3px;
  border-right: none; }

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color: #666B85;
  font-size: 16px;
  font-weight: normal; }

tr:first-child {
  border-top: none; }

tr:last-child {
  border-bottom: none; }

tr:nth-child(odd) td {
  background: #EBEBEB; }

tr:last-child td:first-child {
  border-bottom-left-radius: 3px; }

tr:last-child td:last-child {
  border-bottom-right-radius: 3px; }

td {
  background: #FFFFFF;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  border-right: 1px solid #C1C3D1; }

td:last-child {
  border-right: 0px; }

th.text-left {
  text-align: left; }

th.text-center {
  text-align: center; }

th.text-right {
  text-align: right; }

td.text-left {
  text-align: left; }

td.text-center {
  text-align: center; }

td.text-right {
  text-align: right; }

.checkmark {
  font-family: arial, Segoe UI Symbol;
  color: green !important;
  text-align: center; }

.xmark {
  font-family: arial, Segoe UI Symbol;
  color: red !important;
  text-align: center; }

.qmark {
  font-family: arial, Segoe UI Symbol;
  color: #343a45 !important;
  text-align: center;
  font-weight: bold; }

.smark {
  font-family: arial, Segoe UI Symbol;
  color: #EFB917 !important;
  text-align: center; }

tr {
  /*td:last-child, th:last-child{
    width: 100%;
    border-left: 0px solid black;
    min-width: 0px;
  }*/ }
  tr th, tr td {
    width: 180px;
    min-width: 180px;
    text-align: center; }
  tr td:nth-child(1), tr th:nth-child(1), tr td:nth-child(2), tr th:nth-child(2) {
    text-align: left !important;
    width: 250px;
    min-width: 250px; }

.alert {
  margin: 0 auto;
  margin-bottom: 0;
  width: 1220px;
  padding-left: 2px; }
  .alert .close {
    float: left;
    font-size: 40px;
    color: #fafafa;
    bottom: 15px;
    position: relative;
    margin-right: 8px;
    padding-bottom: 45px; }

.table-email {
  background: #4a5262 !important; }
  .table-email h4 {
    color: #eee;
    margin-bottom: 15px;
    font-weight: 300; }

@media screen and (max-width: 1220px) {
  tbody {
    height: 70vh; }

  .table-fill {
    margin-top: 0 !important; } }

/*# sourceMappingURL=table.css.map */
