@import 'variables';

//Use REM in this sectinon for units
.section-slideshow{
    
    h2{
        line-height: 1.4;
        margin-bottom: 30px;
        font-size: 3.0rem;
    }
    
    p{
        font-size: 1.6rem;
        line-height: 1.4; 
        span{
            font-weight: bold;
        }
        
    }
    
    .content-white{
        h2,p{
            color: white;
        }
    }
    
    .btn-color{
        @include color_btn($third-color);    }
    
    @media screen and (max-width: 768px){
        h2{
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 768px){
    .hide-mobile{
        display: none;
    }
}