@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$font-primary:    'Open Sans', serif;
$font-fun:        'Indie Flower', serif;
$font-size-one:  27px;
$font-size-two:   30px;
$font-size-three:  24px;
$font-size-four:   15.5px;
$font-size-five:  18px;
$font-size-mini:   11px;
$font-size-six:   13px;


$primary-color: #45AEEA;
$second-color: #EFB917;
$third-color: #D43A43;
$fourth-color: #72c02c; 
$fifth-color: #FF8800;
$sixth-color: #C900E3;
$seventh-color: lightgrey;
$seventh-color-2: #333;
$max-width: 1300px;


@font-face {
    font-family: Vollkorn, serif;
    src: url(https://fonts.googleapis.com/css?family=Vollkorn);
}

@mixin transparentBackgroundColor($alpha,$color, $important:null) {
  background-color: rgba(red($color), green($color), blue($color), $alpha) $important;
}



