@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato);

$font-primary:    'Open Sans', serif;
$font-two:        'Lato', sans-serif;

$font-fun:        'Indie Flower', serif;

$font-size-one:  27px;
$font-size-two:   30px;
$font-size-three:  24px;
$font-size-four:   15.5px;
$font-size-five:  18px;
$font-size-mini:   11px;
$font-size-six:   13px;

$btn-color: rgb(51, 122, 183);
$border-color: #eee;

$primary-color: #45AEEA;
$second-color: #EFB917;
$third-color: #D43A43;
$fourth-color: #72c02c; 
$fifth-color: #FF8800;
$sixth-color: #C900E3;

$seventh-color: lightgrey;
$seventh-color-2: black;

$eighth-color: #00E891;
$ninth-color: #4D0CE8;
$tenth-color: #FF0060;

$max-width: 1300px;

$weight-light: 300;


@font-face {
    font-family: Vollkorn, serif;
    src: url(https://fonts.googleapis.com/css?family=Vollkorn);
}

//REUSEABLE MIXINS 
//Pseudo class, shouldn't be used just extended
.__color-button{
     color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 65px;
    padding-right: 65px;
    font-size: $font-size-four;
    border-radius: 50em;

}

// Unecessary, replace all uses with rgba(color, transparency)
@mixin transparentBackgroundColor($alpha, $color, $important:null) {
  background-color: rgba(red($color), green($color), blue($color), $alpha) $important;
}



@mixin color_btn($color){
    @extend .__color-button;
    border-color: $color;
    @include transparentBackgroundColor(.85, $color);
    
    &:hover{
            color: white;
            background-color: $color;
            transition: all .1s;
        }
    }

/* Custom Modals */
@mixin modalSmall($width){
    .modal-dialog, .modal-body, .modal-header{
        max-width: $width;
        }
        
    .modal-footer{
        padding-top: 0;
    }
    .modal-body{
        padding-top: 0px;
        padding-bottom: 10px;
        margin-top: 3.5%;
    }
    .modal-body, .modal-header{
        padding-left: 3%;
        padding-right: 3%;
    }

    .contact-title{
        img{
            margin-top: 15px;
        }
        .m-contact-title{
            padding-top: 10px;
        }
        .modal-title{
            font-size: $font-size-four;
        }
    }

    .contact-message{
        h5{
            color: #555;
            font-weight: $weight-light;
        }
    }
}
