@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face { font-family: Vollkorn, serif; src: url(https://fonts.googleapis.com/css?family=Vollkorn); }

p { font-size: 15.5px !important; }

.main-points { padding-bottom: 0; padding-top: 30px; }

.main-points h1 { padding-bottom: 20px; text-align: center; color: black !important; }

.main-points .main-points-title { font-size: 27px; }

.main-points h3 { font-weight: bold; }

.main-points .main-points-header { color: black !important; }

.section-highlights { padding-top: 0px !important; text-align: center; }

.section-highlights #not-just { font-weight: 400 !important; }

.section-highlights h1 { color: black !important; }

.section-highlights .section-highlights-block-1 { margin-bottom: 60px; }

.section-highlights .section-highlights-block-2 { margin-bottom: 0px; }

.section-highlights .main-points .main-points-block { padding-left: 40px; padding-right: 40px; }

.section-highlights .main-points .main-points-block i { padding-bottom: 15px; }

.section-highlights h3 { color: black !important; }

.section-highlights h1 { padding-top: 30px; }

.section-circles { align-content: center; margin-bottom: 50px; }

.section-circles h3 { padding-bottom: 25px; }

.section-graphs { align-content: center; text-align: center; }

.section-benefits .sb-benefits { margin-bottom: 0px; }

.section-benefits .sb-title { margin-bottom: 40px; }

.section-benefits .main-points .main-points-block { padding-left: 5px; padding-right: 5px; padding-bottom: 30px; }

.section-benefits .main-points .main-points-block h3 { text-align: center; padding-bottom: 0px; }

.section-benefits .main-points .main-points-block h4 { font-style: italic; }

.section-benefits .main-points .main-points-block .main-points-block-title { text-align: center; padding-bottom: 10px; }

.section-benefits .main-points .main-points-block .main-points-block-title h3 { color: black !important; }

.section-benefits .main-points .main-points-block ul { list-style: none; list-style-position: outside; display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; padding-left: 16%; padding-right: 6%; }

.section-benefits .main-points .main-points-block ul li { line-height: 30px; font-size: 15.5px; margin-bottom: 3px; }

.section-benefits .main-points .main-points-block ul li:before { content: '✔'; margin-left: -1em; margin-right: .200em; color: green; }

.section-motivation h1 { color: black !important; }

.section-purchase { background: #3E4747 !important; text-align: center; }

.section-purchase .title { margin-bottom: 50px; }

.section-purchase .title h2 { color: white !important; }

.section-purchase .title h1 { color: white !important; padding-bottom: 20px; }

.section-purchase .color-top-1, .section-purchase .color-top-2 { height: 20px; }

.section-purchase .color-top-1 { background: #EFB917; }

.section-purchase .color-top-2 { background: #D43A43; }

.section-purchase .heading-sm { color: black !important; }

.section-purchase .service-blocks { padding-left: 60px; padding-right: 60px; padding-top: 0px; }

.section-purchase .service-block { margin-right: 40px; margin-left: 40px; }

.section-purchase .service-block .service-block-content { padding-left: 40px; padding-right: 40px; }

.section-purchase .service-block-default { padding: 0px; }

.section-purchase ul li { font-size: 15.5px; padding-bottom: 10px; }

.section-services h1 { font-size: 1.3em; font-weight: 500; }

.section-services p { font-weight: 500; }

.section-services #hex-1 { background: #45AEEA; }

.section-services #hex-2 { background: #EFB917; }

.section-services #hex-3 { background: #D43A43; }

.section-services #hex-4 { background-color: lightgrey; }

.section-services #hex-4 h1:after { border-bottom: 0px solid black !important; }

.section-services #hex-5 { background: #FF8800; }

.section-services #hex-6 { background: #C900E3; }

.section-services #hex-7 { background: #72c02c; }

.section-demo table { margin: 0 auto !important; float: none !important; text-align: center; }

.section-demo table th, .section-demo table td { border: 1px dotted black; width: 200px; }

.section-demo table th { font-size: 15.5px; text-align: center; padding-top: 15px; padding-bottom: 15px; padding-right: 40px; padding-left: 40px; }

.section-demo table td { padding-top: 30px; padding-bottom: 30px; }

.bg-blue { background: #45AEEA; }

.tp-banner h1, .tp-banner h2, .tp-banner h3, .tp-banner h4, .tp-banner h5, .tp-banner h6 { color: #fff; }

.tp-banner h1 { font-size: 40px; }

.tp-banner h2 { font-size: 22px; }

.tp-banner .tp-subtitle { background-color: rgba(69, 174, 234, 0.7); color: white !important; font-size: 18px !important; line-height: 2px !important; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; margin-bottom: 10px; display: inline; text-align: center; }

.tp-banner .tp-sub-span { text-align: center; }

.tp-banner .tp-subtitle-1 { float: left; }

.nav-justified a, .nav-justified a:active, .nav-justified a:focus { color: black !important; }

.nav-justified a:hover { color: #D43A43 !important; background: none !important; }

.col-1 { color: #45AEEA; }

.col-2 { color: #EFB917; }

.col-3 { color: #D43A43; }

.col-4 { color: #72c02c; }

.col-5 { color: #FF8800; }

.col-6 { color: #C900E3; }

.bg-col-1 { background: #45AEEA; }

.bg-col-2 { background: #EFB917; }

.bg-col-3 { background: #D43A43; }

.bg-col-4 { background: #72c02c; }

.bg-col-5 { background: #FF8800; }

.bg-col-6 { background: #C900E3; }

.bg-col-7 { background: lightgrey; }

.section-modal { /* MODAL SETTINGS */ /*overwrite*/ /*TIMELINE OVERRIDES */ }

.section-modal .col-md-9.lg { padding-left: 0; }

.section-modal .timeline_width { width: 220px !important; padding-right: 0; }

.section-modal p { color: black; }

@media screen and (min-width: 769px) { .section-modal .modal-dialog { width: 70% !important; min-width: 980px; max-width: 980px; } }

.section-modal .modal-footer { padding: 0; border-top: 0px solid white; background: transparent; height: 0px; }

.section-modal .modal-footer button { position: absolute; right: 12px; bottom: 17px; }

@media screen and (max-width: 768px) { .section-modal .modal-dialog { min-width: 420px; margin-left: 15%; } }

.section-modal .modal-header { padding-bottom: 0; }

.section-modal .modal-header h5 { vertical-align: middle; display: block; }

.section-modal .modal-header .col-md-9 { top: -10px; }

@media screen and (max-width: 768px) { .section-modal .modal-header .col-md-9 { top: 0px; } }

.section-modal .modal-header #modal-logo { text-align: center; width: 80%; /* you can use % */ height: auto; display: block; margin: 0 auto; vertical-align: middle; }

.section-modal .tab-content { padding-left: 20px; padding-right: 10px; color: black; }

.section-modal .tab-content img.tab_image { /* Shrink the image proportionally */ width: 100%; /* you can use % */ height: auto; }

.section-modal .timeline-v1:before { top: 0; bottom: 0; position: absolute; content: " "; width: 3px; background-color: #eee; left: 186px; margin-left: -1.5px; }

.section-modal .timeline-v1 { padding-bottom: 0px; }

.section-modal .timeline-v1 a { text-decoration: none; color: inherit !important; }

.section-modal .timeline-v1 i { left: 6px; pointer-events: none !important; cursor: default !important; }

.section-modal .timeline-v1 li { margin-bottom: 20px; margin-top: 0; position: relative; width: 180px; float: left; clear: left; }

.section-modal .timeline-v1 li.last-item { margin-bottom: 0; }

.section-modal .timeline-v1 li:active i { color: black; }

.section-modal .timeline-v1 li:nth-child(2) { margin-top: 0px; }

.section-modal .timeline-v1 p { margin: 0px; text-align: center; display: block; vertical-align: middle; padding: 10px; min-height: 70px; font-weight: 500; }

.section-modal .timeline-v1 p.one-liner { line-height: 50px; }

.section-modal .timeline-v1 .timeline-body { padding: 5px; }

.section-modal .timeline-v1 .timeline-body:hover { opacity: 0.8; /* css standard */ filter: alpha(opacity=80); /* IE */ }

.section-modal .timeline-v1 .clearfix { height: 1px !important; margin: 1px !important; }

@media screen and (max-width: 768px) { .section-modal .timeline-v1:before { left: 46px; }
  .section-modal .timeline-panel a .timeline-body { width: 200px !important; } }

/* Dot class called with jquery to change timeline dot scolor */
.dot-color { color: #72c02c; }

#icon-user { color: #45AEEA; }

#icon-user-md { color: #EFB917; }

#icon-users { color: #72c02c; text-shadow: 3px 3px 3px #ccc; }

#icon-heart-o { color: #D43A43; text-shadow: 3px 3px 3px #ccc; }

#click-here { font-family: "Indie Flower", cursive; font-size: 27px; letter-spacing: 2px; position: absolute; padding-top: 100px; }

@media screen and (min-width: 769px) { #click-here { margin-left: 30px; margin-top: 23px; } }

/*# sourceMappingURL=../../../../static/css/home.css.map */