{% load staticfiles i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Synergy+ Software</title>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        {% block more-head %} {% endblock more-head %}
    </head>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico">

        <!-- Web Fonts -->
        <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,700,300,200,100,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>


        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">

        <!-- CSS Header and Footer -->
        <link rel="stylesheet" href="/static/css/headers/header-default.css">
        <link rel="stylesheet" href="/static/css/headers/header-v8.css">
        <link rel="stylesheet" href="/static/css/footers/footer-v1.css">
    

        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="/static/plugins/animate.css">
        <link rel="stylesheet" href="/static/plugins/line-icons/line-icons.css">
        <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/plugins/login-signup-modal-window/css/style.css">


        <!-- CSS Theme -->
        <link rel="stylesheet" href="/static/css/theme-colors/default.css" id="style_color">
        <link rel="stylesheet" href="/static/css/theme-skins/dark.css">

        <!-- CSS Customization -->
        <link rel="stylesheet" href="/static/css/custom.css">

         <!-- My CSS -->
        {% load sass_tags %}
        <link rel="stylesheet" href="{% sass_src 'css/project.scss' %}">
        <!-- for dev only -->
         <link href="{% static 'staticfiles/css/project.css' %}" rel="stylesheet" type="text/css" />
        
    {% endblock css %}

    {% block more-css %}{% endblock more-css %}

        <!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<body class="header-fixed header-fixed-space-v2">
	<div class="wrapper">
		<!--=== Header v8 ===-->
		<div class="header-v8 header-sticky">
			<!-- Topbar blog -->
			<div class="blog-topbar">
				<div class="topbar-search-block">
					<div class="container">
						<form action="">
							<input type="text" class="form-control" placeholder="Search">
							<div class="search-close"><i class="icon-close"></i></div>
						</form>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-xs-8">
							<div class="topbar-time">Friday, Mar 13th 2015</div>
							<div class="topbar-toggler"><span class="fa fa-angle-down"></span></div>
							<ul class="topbar-list topbar-menu">
								<li><a href="#">Blog</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Forums</a></li>
								<li>
									<a href="javascript:void(0);">Dropdown</a>
									<ul class="topbar-dropdown">
										<li><a href="#">Dropdown</a></li>
										<li><a href="#">Dropdown</a></li>
										<li class="topbar-submenu">
											<a href="javascript:void(0);">Submenu</a>
											<ul class="topbar-submenu-in">
												<li><a href="#">Submenu</a></li>
												<li><a href="#">Submenu</a></li>
												<li class="topbar-submenu">
													<a href="javascript:void(0);">Submenu</a>
													<ul class="topbar-submenu-in">
														<li><a href="#">Submenu</a></li>
														<li><a href="#">Submenu</a></li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signin" href="javascript:void(0);">Login</a></strong></li>
								<li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signup" href="javascript:void(0);">Register</a></strong></li>
							</ul>
						</div>
						<div class="col-sm-4 col-xs-4 clearfix">
							<i class="fa fa-search search-btn pull-right"></i>
							<ul class="topbar-list topbar-log_reg pull-right visible-sm-block visible-md-block visible-lg-block">
								<li class="cd-log_reg home"><a class="cd-signin" href="javascript:void(0);">Login</a></li>
								<li class="cd-log_reg"><a class="cd-signup" href="javascript:void(0);">Register</a></li>
							</ul>
						</div>
					</div><!--/end row-->
				</div><!--/end container-->
			</div>
			<!-- End Topbar blog -->

			<!-- Navbar -->
			<div class="navbar mega-menu" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="res-container">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
                        
                        <div class='row'>
                            <div class="navbar-brand col-md-2">
                                <a href="index.html">
                                    <img src="{% static 'img/logo1-default.png' %}" alt="Logo">
                                </a>
                            </div>
       
                
                            
                              <div class="collapse navbar-collapse navbar-responsive-collapse">
                                <div class='col-md-10 header-slogan'>
                                <h5><a href=''>The only healthcare company in the world <strong>guaranteeing independent doctors net income gains of 25-100%</strong></a></h5>
                                </div>
                                <hr/>
                                <div class="res-container">
                               <!--/end responsive container-->

                            <!-- Collect the nav links, forms, and other content for toggling -->
                                    <ul class="nav navbar-nav">
                                            <!-- Home -->
                                            <li class="active"><a href="#">Home</a></li>
                                            <li><a href='#insights'>Insights</a></li>
                                            <li><a href="#about">Solutions</a></li>
                                            <li><a href="#contact">Demo</a></li>
                                            <li><a href="#contact">Contact</a></li>
                                        <li><a href=''>Call Now</a></li>
                                    </ul>
                                </div></div></div></div></div></div></div>
        

		<!--=== End Header ===-->
    <div class='content-main'>
    {% block modal %}
    {% endblock modal %}
    </div>
    {% block footer %}
		<!--=== Footer Version 1 ===-->
		<div class="footer-v1">


			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>
								2015 &copy; All Rights Reserved.
								<a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
							</p>
						</div>

						<!-- Social Links -->
						<div class="col-md-6">
							<ul class="footer-socials list-inline">
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
										<i class="fa fa-skype"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
										<i class="fa fa-google-plus"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
										<i class="fa fa-pinterest"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
										<i class="fa fa-dribbble"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- End Social Links -->
					</div>
				</div>
			</div><!--/copyright-->
		</div>
		<!--=== End Footer Version 1 ===-->
    {% endblock footer %}
	</div><!--/wrapper-->

	

	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="/static/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/static/plugins/jquery/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="/static/plugins/back-to-top.js"></script>
	<script type="text/javascript" src="/static/plugins/smoothScroll.js"></script>
	<script type="text/javascript" src="/static/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="/static/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="/static/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="/static/js/custom.js"></script>

	<!--[if lt IE 9]>
	<script src="/static/plugins/respond.js"></script>
	<script src="/static/plugins/html5shiv.js"></script>
	<script src="/static/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->

    {% block more-javascript %}{% endblock more-javascript %}

</body>
</html>
